@{
    Layout = "_PanelLayout";
}
@model AddMyCarsVM

<form id="addMyCarForm" method="post" asp-route="AddCar">
    <div class="row">
        <div class="col-sm-12 mb-3 _Pos_Rel">
            <label>Type</label>
            <select class="form-control select2-multiple" id="carTypes" name="Type" data-width="100%">
                <option disabled selected>Select Type</option>
                @foreach (var item in Model.CarTypes)
                {
                    <option value="@item.Id">@item.CarTypeName</option>
                }
            </select>
        </div>

        <div class="col-sm-4 mb-3 _Pos_Rel">
            <label>Brands</label>
            <select class="form-control select2-multiple" id="carBrands" name="Brand" data-width="100%">
                <option disabled selected>Select Brand</option>
                @foreach (var item in Model.CarBrands)
                {
                    <option value="@item.Id">@item.CarBrandName</option>
                }
            </select>
        </div>
        <div class="col-sm-4 mb-3 _Pos_Rel">
            <label>Model</label>
            <select class="form-control select2-multiple" id="carModels" name="Model" data-width="100%">
                <option disabled selected>Select Model</option>

            </select>
        </div>
        <div class="col-sm-4 mb-3 _Pos_Rel">
            <label>Series</label>
            <select class="form-control select2-multiple" id="carSeries" name="Series" data-width="100%">
                <option disabled selected>Select Series</option>
            </select>
        </div>


        <div class="col-sm-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Max. Passengers</label>
                <input type="number" class="form-control" value="0" name="MaxPassenger" required="">
            </div>
        </div>
        <div class="col-sm-2 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Suitcase</label>
                <input type="number" class="form-control" value="0" name="SuitCase" required="">
            </div>
        </div>
        <div class="col-sm-2 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Small Bags</label>
                <input type="number" class="form-control" value="0" name="SmallBags" required="">
            </div>
        </div>
        <div class="col-sm-4 mb-3 _Pos_Rel">
            <label>Select Driver</label>
            <select class="form-control select2-multiple" name="Driver" data-width="100%">
                <option disabled selected>Select Driver</option>
                @foreach (var item in Model.Drivers)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>


        <div class="col-sm-4 mb-3 _Pos_Rel">
            <label>Service List</label>
            <select class="form-control select2-multiple" name="Service" data-width="100%">
                <option disabled selected>Select Service List</option>
                @foreach (var item in Model.ServiceItems)
                {
                    <option value="@item.Id">@item.ServiceName</option>
                }
            </select>
        </div>


        <div class="col-md-8">
            <div class="extrasArea">
                <div class="extrasFlex">
                    <div class="extrasItem ">
                        <img src="/img/i1.png">
                        <input type="checkbox" name="Water" value="true">
                    </div>
                    <div class="extrasItem ">
                        <img src="/img/i2.png">
                        <input type="checkbox" name="Disabled" value="true">
                    </div> <div class="extrasItem ">
                        <img src="/img/i3.png">
                        <input type="checkbox" name="Charger" value="true">
                    </div>
                    <div class="extrasItem ">
                        <img src="/img/i4.png">
                        <input type="checkbox" name="Wifi" value="true">
                    </div>
                    <div class="extrasItem ">
                        <img src="/img/i5.png">
                        <input type="checkbox" name="Armored" value="true">
                    </div>
                    <div class="extrasItem ">
                        <img src="/img/i6.png">
                        <input type="checkbox" name="Partition" value="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Add My Car
                </button>
            </div>
        </div>

    </div>
</form>

@section pageJs{
    <script>
        $('#carBrands').on("change", function () {
            var value = $(this).val();
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.CarsController.GetModels))',
                type: "POST",
                data: { id: value },
                success: function (response) {
                    if (response.result == 200) {
                        $('#carModels').html("");
                        $('#carModels').append(`<option disabled selected>Select Model</option>`)
                        $.each(response.models, function (key, value) {
                            $('#carModels').append(`<option value="${value.id}">${value.carModelName}</option>`)
                        })
                    }
                }
            });
        })

        $('#carModels').on("change", function () {
            var value = $(this).val();
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.CarsController.GetSeries))',
                type: "POST",
                data: { id: value },
                success: function (response) {
                    if (response.result == 200) {
                        $('#carSeries').html("");
                        $('#carSeries').append(`<option disabled selected>Select Series</option>`)
                        $.each(response.series, function (key, value) {
                            $('#carSeries').append(`<option value="${value.id}">${value.carSeriesName}</option>`)
                        })
                    }
                }
            });
        })

    </script>
}
