@{
    Layout = "_PanelLayout";
}
@model IEnumerable<MyCars>

<div class="d-flex justify-content-end mb-3">
    <a href="/panel/add-car" class="btn" style="
    background: #EC681E;
    color: white;">
        Add My Car
    </a>
</div>

@*<button class="btn btn-warning" id="sendsms">SMS Gönder</button>
*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <a href="/panel/update-my-car/@item.Id" class="serviceItems" data-value="@item.Id">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class="list-item-heading mb-0 pt-1">@item.Brand.CarBrandName @item.Model.CarModelName - @item.Plate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>


@section pageJs{
    <script>
        $('#sendsms').on("click",function(){
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.CarsController.SMSDeneme))',
                type: "GET",
                success: function (response) {
                    if (response.result == 200) {
                       
                    }
                }
            });
        })
    </script>
}