@{
    Layout = "_PanelLayout";
}
@model UpdateMyCarVM

<form id="updateMyCarForm">
    <div class="row">

        <div class="col-sm-12 mb-3">
            <label>Type</label>
            <select class="form-control select2-multiple" id="carTypes" name="Type" data-width="100%">
                <option disabled selected>Select Type</option>
                @foreach (var item in Model.Types)
                {
                    if (item.Id == Model.TypeId)
                    {
                        <option value="@item.Id" selected>@item.CarTypeName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.CarTypeName</option>
                    }

                }
            </select>
        </div>

        <div class="col-sm-4 mb-3">
            <label>Brands</label>
            <select class="form-control select2-multiple" id="carBrands" name="Brand" data-width="100%">
                <option disabled selected>Select Brand</option>
                @foreach (var item in Model.Brands)
                {
                    if (item.Id == Model.BrandId)
                    {
                        <option value="@item.Id" selected>@item.CarBrandName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.CarBrandName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <label>Model</label>
            <select class="form-control select2-multiple" id="carModels" name="Model" data-width="100%">
                <option disabled selected>Select Model</option>
                @foreach (var item in Model.Models)
                {
                    if (item.Id == Model.ModelId)
                    {
                        <option value="@item.Id" selected>@item.CarModelName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.CarModelName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <label>Series</label>
            <select class="form-control select2-multiple" id="carSeries" name="Series" data-width="100%">
                <option disabled selected>Select Series</option>
                @foreach (var item in Model.Series)
                {
                    if (item.Id == Model.SeriesId)
                    {
                        <option value="@item.Id" selected>@item.CarSeriesName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.CarSeriesName</option>
                    }
                }
            </select>
        </div>


        <div class="col-sm-4 mb-3">
            <div class="form-group position-relative error-l-50">
                <label>Max. Passengers</label>
                <input type="number" min="1" class="form-control" value="@Model.MaxPassenger" name="MaxPassenger" required="">
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="form-group position-relative error-l-50">
                <label>Suitcase</label>
                <input type="number" min="0" class="form-control" value="@Model.SuitCase" name="SuitCase" required="">
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="form-group position-relative error-l-50">
                <label>Small Bags</label>
                <input type="number" min="0" class="form-control" value="@Model.SmallBags" name="SmallBags" required="">
            </div>
        </div>

        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Plate</label>
                <input type="text" value="@Model.Plate" class="form-control" name="Plate" required="">
            </div>
        </div>


        <div class="col-sm-3 mb-3 _Pos_Rel">
            <label>Select Driver</label>
            <select class="form-control select2-multiple" name="Driver" data-width="100%">
                <option disabled selected>Select Driver</option>
                @foreach (var item in Model.Drivers)
                {
                    if (item.Id == Model.DriverId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>

        <div class="col-sm-3 mb-3">
            <label>Service List</label>
            <select class="form-control select2-multiple" name="Service" data-width="100%">
                <option disabled selected>Select Service List</option>
                @foreach (var item in Model.Services)
                {
                    if (item.Id == Model.ServiceId)
                    {
                        <option value="@item.Id" selected>@item.ServiceName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.ServiceName</option>
                    }            
                }
            </select>
        </div>

        <div class="col-md-6">
            <div class="extrasArea">
                <div class="extrasFlex">
                    <div class="extrasItem @(Model.Water ? "active" : "")">
                        <img src="/img/i1.png">
                        <input type="checkbox" name="Water" value="true" @(Model.Water ? "checked" : "")>
                    </div>
                    <div class="extrasItem @(Model.Disabled ? "active" : "")">
                        <img src="/img/i2.png">
                        <input type="checkbox" name="Disabled" value="true" @(Model.Disabled ? "checked" : "")>
                    </div> 
                    <div class="extrasItem @(Model.Charger ? "active" : "")">
                        <img src="/img/i3.png">
                        <input type="checkbox" name="Charger" value="true" @(Model.Charger ? "checked" : "")>
                    </div>
                    <div class="extrasItem @(Model.Wifi ? "active" : "")">
                        <img src="/img/i4.png">
                        <input type="checkbox" name="Wifi" value="true" @(Model.Wifi ? "checked" : "")>
                    </div>
                    <div class="extrasItem @(Model.Armored ? "active" : "")">
                        <img src="/img/i5.png">
                        <input type="checkbox" name="Armored" value="true" @(Model.Armored ? "checked" : "")>
                    </div>
                    <div class="extrasItem @(Model.Partition ? "active" : "")">
                        <img src="/img/i6.png">
                        <input type="checkbox" name="Partition" value="true" @(Model.Partition ? "checked" : "")>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Update My Car
                </button>
            </div>
        </div>
    </div>
</form>

@section pageJs{
    <script>
        $('#carBrands').on("change", function () {
            var value = $(this).val();
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.CarsController.GetModels))',
                type: "POST",
                data: { id: value },
                success: function (response) {
                    if (response.result == 200) {
                        $('#carModels').html("");
                        $('#carModels').append(`<option disabled selected>Select Model</option>`)
                        $.each(response.models, function (key, value) {
                            $('#carModels').append(`<option value="${value.id}">${value.carModelName}</option>`)
                        })
                    }
                }
            });
        })

        $('#carModels').on("change", function () {
            var value = $(this).val();
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.CarsController.GetSeries))',
                type: "POST",
                data: { id: value },
                success: function (response) {
                    if (response.result == 200) {
                        $('#carSeries').html("");
                        $('#carSeries').append(`<option disabled selected>Select Series</option>`)
                        $.each(response.series, function (key, value) {
                            $('#carSeries').append(`<option value="${value.id}">${value.carSeriesName}</option>`)
                        })
                    }
                }
            });
        })

        $('#updateMyCarForm').on("submit", function (e) {
            e.preventDefault();
            var formData = $(this).serialize()
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.CarsController.UpdateMyCar))',
                type: "POST",
                data: formData + "&id=" + @Model.Id,
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Update Service',
                        }).then(() => {
                            location.href = "/panel/my-cars";
                        })
                    }
                }
            });
        })

    </script>
}