@{
    Layout = "_PanelLayout";
}
@model List<ServiceCategories>

@section pageCSS{
    <style>
        .serviceBoxHead {
            display: flex;
        }

            .serviceBoxHead b {
                background: orange;
                color: white;
                padding: 1rem;
                border-radius: 8px;
            }
    </style>
}


<h1 style="color:orange;font-weight: bold;">
    Add New Service
</h1>

<h2>Add Service list information</h2>

<style>
    label.error {
        left: .3rem;
    }
</style>
<form class="mt-3 mb-5" id="addServiceForm">
    <div class="row">

        <div class="col-md-6 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Service List Name</label>
                <input type="text" class="form-control" name="serviceName" placeholder="Enter Your Service List Name">
            </div>
        </div>
        <div class="col-md-6 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Service Description</label>
                <input type="text" class="form-control" name="serviceDescription" placeholder="Enter a description for your service list (optional)">
            </div>
        </div>
        <div class="col-sm-6 _Pos_Rel">
            <label>Service List</label>
            <select class="form-control select2-multiple" name="serviceItems" multiple="multiple" id="serviceList" data-width="100%">

                @foreach (var category in Model)
                {
                    <optgroup label="@category.ServiceCategoryName">
                        @foreach (var property in category.ServiceProperties)
                        {
                            <option value="@property.Id">@property.ServicePropertyName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Add Service
                </button>
            </div>
        </div>
    </div>
</form>

<div class="servicecard-container row">
</div>

@section pageJs{
    <script>

        //let serviceCards = {};


        //function  () {

        //    document.querySelectorAll('.service-info-group').forEach(group => {

        //        group.querySelector('.serviceCard-remove').onclick = () => {
        //            if (serviceCards[group.parentElement.dataset.category].length == 1) {
        //                delete serviceCards[group.parentElement.dataset.category];
        //            } else {
        //                delete serviceCards[group.parentElement.dataset.category][group.dataset.id];
        //            }

        //            console.log(serviceCards)


        //            if (group.parentElement.querySelectorAll('.service-info-group').length == 1) {

        //                group.parentElement.parentElement.remove();

        //            } else {
        //                group.remove();
        //            }

        //            let currentSelects = $('#serviceList').select2('data');

        //            console.log(currentSelects)

        //            let newSelect = [];

        //            currentSelects.forEach(select => {

        //                if (group.dataset.id != select.id) {
        //                    newSelect.push(select.id);
        //                }

        //            })

        //            $('#serviceList').val(newSelect);

        //            $('#serviceList').trigger('change');
        //        }

        //        let input = group.querySelector('input');

        //        let cleave = new Cleave(input, {
        //            prefix: '$',
        //            numeral: true,
        //            numeralPositiveOnly: true,
        //            numeralDecimalMark: '',
        //            delimiter: ''
        //        });

        //        group.querySelector('.input-incrase').onclick = () => {
        //            console.log()
        //            cleave.setRawValue(Number(cleave.getRawValue().replace('$', '')) + 1);

        //        }

        //        group.querySelector('.input-decrase').onclick = () => {

        //            if (cleave.getRawValue().replace('$', '') != '0') {
        //                cleave.setRawValue(Number(cleave.getRawValue().replace('$', '')) - 1)
        //            }
        //        }
        //    })
        //}

        //initServiceCards()




        $('#addServiceForm').on("submit", function (e) {
            e.preventDefault();
            if ($('#addServiceForm').valid()) {

                var formData = $(this).serialize()
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.AddService))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service',
                            }).then(() => {
                                location.href = "/panel/service";
                            })
                        }
                    }
                });
            }
        })

        //$('#serviceList').on("select2:unselect", (e) => {


        //    let target = document.querySelector('.service-info-group[data-id="' + e.params.data.id + '"]');

        //    if (target.parentElement.querySelectorAll('.service-info-group').length != 1) {
        //        target.remove();
        //    } else {
        //        target.parentElement.parentElement.remove()
        //    }

        //})

        $('#serviceList').on("change", function () {
            var propId = $(this).val()
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.GetServiceItem))',
                type: "POST",
                data: { serviceProId: propId },
                success: function (response) {
                    console.log(response)
                    if (response.result == 1) {
                        var serviceList = [];

                        $.each($('.servicecard-container .service-items'), function (key, value) {
                            serviceList.push(parseInt($(value).attr("data-id")))
                        })

                        var thisValues = $('#serviceList').val()

                        $.each(response.data, function (key, value) {

                            if (!thisValues.includes('"' + value.id + '"')) {
                                $('.servicecard-container .service-items[data-id="' + value.id + '"]').remove()
                            }

                            if (!serviceList.includes('"' + value.id + '"')) {


           

                                $('.servicecard-container').append(`<div class="col-md-3 service-items" data-id="${value.id}">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="serviceBoxHead">
                                                                                    <b>${value.serviceCategoryName}</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-2">
                                                                    <div class="col-md-8">
                                                                                                <b class="list-item-heading mb-0 pt-1">${value.serviceName}</b>
                                                                                        <p class="m-0">${value.serviceDescripton}</p>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text" id="basic-addon1">$</span>
                                                                            </div>
                                                                            <input type="number" class="form-control" min="0" value="0" aria-describedby="basic-addon1">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>`)

                            }







                        })


                        if (response.data.length == 0) {
                            $('.servicecard-container').html("")
                        }

                    }
                }
            });
        })

    </script>
}