@{
    Layout = "_PanelLayout";
}
@model List<ServiceCategories>

@section pageCSS{
    <style>


        .service-Card {
            background: white;
            border-radius: 10px;
            padding: 20px;
            margin-bottom:10px;
        }

            .service-Card .service-info-group {
                display: flex;
                gap: 20px;
            margin-bottom: 15px;
            justify-content:space-between;
            }
            

                .service-Card .service-info-group p {
                    width: 60%;
                    font-size:12px;
                    margin-bottom:0;
                }



            .service-Card .serviceNumberInput {
                display: grid;
                grid-template-columns: 70% 30%;
                grid-template-rows: 15px 15px;
                width: 100px;
                border-radius: 8px;
                outline: solid 2px #808080cf;
                background: #808080cf;
                gap: 2px;
                height: fit-content;
            }

                .service-Card .serviceNumberInput input {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    width: 100%;
                    border: none;
                    outline: none;
                    background: white;
                    font-size: 20px;
                }

                .service-Card .serviceNumberInput button {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    background: #ffffffa1;
                    padding: 5px;
                    font-size: 7px;
                }

            .service-Card .serviceCard-remove {
                background: #EC681E;
                font-size: 20px;
                border-radius: 10px;
                    width: 40px;
    height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #707070;
                border:none;
            }

        .service-info-name {
            background: #EC681E;
            padding: 10px;
            text-align: center;
            font-size: 16px;
            color: white;
            width:fit-content;
            height: fit-content;
            border-radius: 10px;
            margin-bottom: 15px;
        }

    </style>
}


<h1 style="color:orange;font-weight: bold;">
    Add New Service
</h1>

<h2>Add Service list information</h2>


<form class="mt-3 mb-5" id="addServiceForm">
    <div class="row">

        <div class="col-md-6">
            <div class="form-group position-relative error-l-50">
                <label>Service List Name</label>
                <input type="text" class="form-control" name="serviceName" required="" placeholder="Enter Your Service List Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group position-relative error-l-50">
                <label>Service Description</label>
                <input type="text" class="form-control" name="serviceDescription" required="" placeholder="Enter a description for your service list (optional)">
            </div>
        </div>
        <div class="col-sm-6">
            <label>Service List</label>
            <select class="form-control select2-multiple" name="serviceItems" multiple="multiple" id="serviceList" data-width="100%">

                @foreach (var category in Model)
                {
                    <optgroup label="@category.ServiceCategoryName">
                        @foreach (var property in category.ServiceProperties)
                        {
                            <option value="@property.Id">@property.ServicePropertyName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Add Service
                </button>
            </div>
        </div>
    </div>
</form>

<div class="serviceCard-Container row">



</div>

@section pageJs{
    <script>

        let serviceCards = {};

        function initServiceCards() {

            document.querySelectorAll('.service-info-group').forEach(group => {

                group.querySelector('.serviceCard-remove').onclick = () => {


                    if (serviceCards[group.parentElement.dataset.category].length == 1) {
                        delete serviceCards[group.parentElement.dataset.category];
                    } else {
                        delete serviceCards[group.parentElement.dataset.category][group.dataset.id];
                    }

                    console.log(serviceCards)


                    if (group.parentElement.querySelectorAll('.service-info-group').length == 1) {

                        group.parentElement.parentElement.remove();

                    } else {
                        group.remove();
                    }

                    let currentSelects = $('#serviceList').select2('data');

                    console.log(currentSelects)

                    let newSelect = [];

                    currentSelects.forEach(select => {

                        if (group.dataset.id != select.id) {
                            newSelect.push(select.id);
                        }

                    })

                    $('#serviceList').val(newSelect);

                    $('#serviceList').trigger('change');
                    

                }

                let input = group.querySelector('input');

                let cleave = new Cleave(input, {
                    prefix: '$',
                    numeral: true,
                    numeralPositiveOnly: true,
                    numeralDecimalMark: '', 
                    delimiter: ''
                });



                group.querySelector('.input-incrase').onclick = () => {
                    console.log()
                    cleave.setRawValue(Number(cleave.getRawValue().replace('$', '')) + 1);

                }

                group.querySelector('.input-decrase').onclick = () => {

                    if (cleave.getRawValue().replace('$', '') != '0') {
                        cleave.setRawValue(Number(cleave.getRawValue().replace('$', '')) - 1)
                    }
                    
                    

                }


            })

        }


        initServiceCards()


        $('#addServiceForm').on("submit", function (e) {
            e.preventDefault();
            var formData = $(this).serialize()
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.AddService))',
                type: "POST",
                data: formData,
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Added Service',
                        }).then(() => {
                            location.href = "/panel/service";
                        })
                    }
                }
            });
        })

        

        $('#serviceList').on("change", function () {
            var propId = $(this).val()
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.GetServiceItem))',
                type: "POST",
                data: { serviceProId: propId },
                success: function (response) {
                    if (response.result == 1) {
                        console.log(response)

                        let serviceCardContainer = document.querySelector('.serviceCard-Container');

                        response.data.forEach(item => {

                            

                            if (document.querySelector(`.service-Card[data-category="${item.serviceCategoryName}"]`)) {

                                if (document.querySelector(`.service-info-group[data-id="${item.id}"]`)) {
                                    return
                                }

                                let serviceCard = document.createElement('div')

                                serviceCard.classList.add('service-info-group');
                                

                                serviceCard.dataset.id = item.id;
                                
                                serviceCard.innerHTML = `
                                                
                                                
                                                    <p>
                                                                <b>${item.serviceName}</b>
                                                                <br>
                                                        ${item.serviceDescripton}
                                                    </p>

                                                    <div class="serviceNumberInput">
                                                        <input type="text" />
                                                        <button class="input-incrase"><i class="fa-sharp fa-solid fa-triangle"></i></button>
                                                        <button class="input-decrase"><i class="fa-sharp fa-solid fa-triangle fa-rotate-180"></i></button>
                                                    </div>

                                                    <button class="serviceCard-remove"><i class="fa-solid fa-trash-can"></i></button>`


                                document.querySelector(`.service-Card[data-category="${item.serviceCategoryName}"]`).appendChild(serviceCard);

                                serviceCards[item.serviceCategoryName].push(serviceCard)
                            } else {

                                serviceCardContainer.innerHTML += `<div class="col-md-6"><div class="service-Card" data-category="${item.serviceCategoryName}">

                                        <div class="service-info-name">
                                            ${item.serviceCategoryName}
                                        </div>


                                            </div>
                                                    </div>
                                            `

                                let serviceCard = document.createElement('div')
                                serviceCard.classList.add('service-info-group');

                                serviceCard.dataset.id = item.id;

                                serviceCard.innerHTML = `
                                                                    <p>
                                                                        <b>${item.serviceName}</b>
                                                                        <br>
                                                                ${item.serviceDescripton}
                                                            </p>

                                                            <div class="serviceNumberInput">
                                                                <input type="text" />
                                                                <button class="input-incrase"><i class="fa-sharp fa-solid fa-triangle"></i></button>
                                                                <button class="input-decrase"><i class="fa-sharp fa-solid fa-triangle fa-rotate-180"></i></button>
                                                            </div>

                                                            <button class="serviceCard-remove"><i class="fa-solid fa-trash-can"></i></button>`


                                document.querySelector(`.service-Card[data-category="${item.serviceCategoryName}"]`).appendChild(serviceCard);

                                serviceCards[item.serviceCategoryName] = [serviceCard];

                            }


                        })


                        initServiceCards()


                    }
                }
            });
        })

    </script>
}