@{
    Layout = "_PanelLayout";
}
@model List<ServiceCategories>

@section pageCSS{
    <style>
        .serviceBoxHead {
            display: flex;
        }

            .serviceBoxHead b {
                background: orange;
                color: white;
                padding: 1rem;
                border-radius: 8px;
            }
    </style>
}


<h1 style="color:orange;font-weight: bold;">
    Add New Service
</h1>

<h2>Add Service list information</h2>

<style>
    label.error {
        left: .3rem;
    }
</style>
<form class="mt-3 mb-5" id="addServiceForm">
    <div class="row">

        <div class="col-md-6 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Service List Name</label>
                <input type="text" class="form-control" name="serviceName" id="serviceName" placeholder="Enter Your Service List Name">
            </div>
        </div>
        <div class="col-md-6 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Service Description</label>
                <input type="text" class="form-control" name="serviceDescription" id="serviceDescription" placeholder="Enter a description for your service list (optional)">
            </div>
        </div>
        <div class="col-sm-6 _Pos_Rel">
            <label>Service List</label>
            <select class="form-control select2-multiple" name="serviceItems" multiple="multiple" id="serviceList" data-width="100%">

                @foreach (var category in Model)
                {
                    <optgroup label="@category.ServiceCategoryName">
                        @foreach (var property in category.ServiceProperties)
                        {
                            <option value="@property.Id">@property.ServicePropertyName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Add Service
                </button>
            </div>
        </div>
    </div>
</form>

@*
<div class="col-md-3 service-items" data-id="${value.serviceCategoryId}">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="serviceBoxHead">
                            <b>${value.serviceCategoryName}</b>
                        </div>
                    </div>
                </div>

                <div class="service-category-item">
                    <div class="row mt-2 " data-id="${value.id}">
                        <div class="col-md-8">
                            <b class="list-item-heading mb-0 pt-1">${value.serviceName}</b>
                            <p class="m-0">${value.serviceDescripton}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="number" id="priceValue" class="form-control" min="0" value="0" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
*@





<div class="servicecard-container row">

  @*  <div class="col-md-3 service-items" data-id="${value.serviceCategoryId}">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="serviceBoxHead">
                                <b>${value.serviceCategoryName}</b>
                            </div>
                        </div>
                    </div>

                    <div class="service-category-items">
                        <div class="row mt-2 service-category-item" data-id="${value.categoryItems[0].id}">
                            <div class="col-md-5">
                                <b class="list-item-heading mb-0 pt-1">${value.categoryItems[0].serviceName}</b>
                                <p class="m-0">${value.categoryItems[0].serviceDescripton}</p>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                    </div>
                                    <input type="number" id="priceValue" class="form-control" min="0" value="0" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="priceValue" class="btn btn-warning" style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@section pageJs{
    <script>

        $('#addServiceForm').on("submit", function (e) {
            e.preventDefault();



            if ($('#addServiceForm').valid()) {


                var datas = [];

                $.each($('.service-items'), function (key, value) {
                    var priceDatas = [];
                    $.each($(value).find('.service-category-item'), function (key, value) {
                        priceDatas.push({
                            propId: $(value).attr("data-id"),
                            price: $(value).find('#priceValue').val()
                        })
                    })

                    datas.push({
                        categoryId: $(value).attr("data-id"),
                        priceData: priceDatas
                    })
                })

                var formData = $(this).serialize()
                var formDataJSON = {
                    serviceName: $('#serviceName').val(),
                    serviceDescription: $('#serviceDescription').val(),
                    priceData: datas
                }

                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.AddService))',
                    type: "POST",
                    data: formDataJSON,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service',
                            }).then(() => {
                                location.href = "/panel/service";
                            })
                        }
                    }
                });
            }
        })

        $('#serviceList').on("change", function () {
            var propId = $(this).val()
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.GetServiceItem))',
                type: "POST",
                data: { serviceProId: propId },
                success: function (response) {
                    if (response.result == 1) {
                        let serviceList2 = [];

                        $.each($('.servicecard-container .service-items'), function (key, value) {
                            serviceList2.push(parseInt($(value).attr("data-id")))
                        })

                        var thisValues = $('#serviceList').val()

                        var list2 = [];
                        $.each(response.data, function (key, value) {
                            list2.push(value.serviceCategoryId);
                        })

                        $.each($('.servicecard-container .service-items'), function (key, value) {
                            var dataId = parseInt($(value).attr("data-id"))
                            if (!list2.includes(dataId)) {
                                $(value).remove()
                            }
                        })


                        $.each(response.data, function (key, value) {
                            if (!serviceList2.includes(value.serviceCategoryId)) {

                                $('.servicecard-container').append(`
                                                        <div class="col-md-3 service-items" data-id="${value.serviceCategoryId}">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="serviceBoxHead">
                                                                                            <b>${value.serviceCategoryName}</b>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="service-category-items">
                                                                                                 <div class="row mt-2 service-category-item" data-id="${value.categoryItems[0].id}">
                                                                                        <div class="col-md-5">
                                                                                                    <b class="list-item-heading mb-0 pt-1">${value.categoryItems[0].serviceName}</b>
                                                                                                    <p class="m-0">${value.categoryItems[0].serviceDescripton}</p>
                                                                                        </div>
                                                                                        <div class="col-md-4">
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-prepend">
                                                                                                    <span class="input-group-text" id="basic-addon1">$</span>
                                                                                                </div>
                                                                                                <input type="number" id="priceValue" class="form-control" min="0" value="0" aria-describedby="basic-addon1">
                                                                                            </div>
                                                                                        </div>
                                                                                                                            <div class="col-md-3">
                                                        <button type="button" class="btn btn-warning deleteServiceItem" data-id="${value.categoryItems[0].id}" style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                    </div>
                                                                                    </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>`)

                            }

                            else {
                               
                                if (value.categoryItems.length > $('.servicecard-container .service-items[data-id="' + value.serviceCategoryId + '"] .service-category-items .service-category-item').length) {

                                    let serviceList3 = [];
                                    $.each($('.servicecard-container .service-items[data-id="' + value.serviceCategoryId + '"] .service-category-items'), function (key, value2) {
                                        serviceList3.push(parseInt($(value2).find('.service-category-item').attr("data-id")))
                                    })

                                    $.each(value.categoryItems, function (key, value2) {
                                        if (!serviceList3.includes(value2.id)) {
                                            $('.servicecard-container .service-items[data-id="' + value.serviceCategoryId + '"] .service-category-items').append(`
                                                                                                                                                        <div class="row mt-2 service-category-item" data-id="${value2.id}">
                                                                                                <div class="col-md-5">
                                                                                                            <b class="list-item-heading mb-0 pt-1">${value2.serviceName}</b>
                                                                                                            <p class="m-0">${value2.serviceDescripton}</p>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <div class="input-group">
                                                                                                        <div class="input-group-prepend">
                                                                                                            <span class="input-group-text" id="basic-addon1">$</span>
                                                                                                        </div>
                                                                                                        <input type="number" id="priceValue" class="form-control" min="0" value="0" aria-describedby="basic-addon1">
                                                                                                    </div>
                                                                                                </div>
                                                                                                                                                                                                    <div class="col-md-3">
                                                        <button type="button" class="btn btn-warning deleteServiceItem" data-id="${value2.id}" style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                            </div>
                                                                                            </div>`)
                                        }
                                    })
                                }
                                else if (value.categoryItems.length < $('.servicecard-container .service-items[data-id="' + value.serviceCategoryId + '"] .service-category-items .service-category-item').length) {


                                    var list2 = [];
                                    $.each(value.categoryItems, function (key, value2) {
                                        list2.push(value2.id);
                                    })

                                   

                                    $.each($('.servicecard-container .service-items[data-id="' + value.serviceCategoryId + '"] .service-category-items .service-category-item'), function (key, value2) {
                                        var dataId = parseInt($(value2).attr("data-id"))
                                        if (!list2.includes(dataId)) {
                                            $(value2).remove()
                                        }
                                    })
                                }


                            }

                        })



                        if (response.data.length == 0) {
                            $('.servicecard-container').html("")
                        }

                    }
                }
            });
        })


        $('body').on("click", ".deleteServiceItem",function(){
            var dataId = $(this).attr("data-id")

            let array = $('#serviceList').val();

            let value = dataId;

            let index = array.indexOf(value);

            if (index > -1) {
                array.splice(index, 1);
            }

            $('#serviceList').val(array)

            $('#serviceList').trigger('change')

        })

    </script>
}