@{
    Layout = "_PanelLayout";
    int i = 0;
}

@model ServiceManagementVM

@section pageCSSLink{
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}


<style>
    label.error {
        left: 0.3rem;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="text-right">
            <button class="btn btn-secondary mb-3" type="button" data-toggle="modal" data-target="#addServiceCategoryModal">
                Add Service Category
            </button>
        </div>
        <table id="serviceCategoryTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiceCategories)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.ServiceCategoryName</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="col-md-6">

        <div class="text-right">
            <button class="btn btn-secondary mb-3" type="button" data-toggle="modal" data-target="#addServicePropertyModal">
                Add Service Property
            </button>
        </div>

        <table id="servicePropertyTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Property Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiceProperties)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.ServicePropertyName</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>









<section class="my-5">
    <div class="container">
        <div class="servicesTable">
            <div class="serviceItem">
                <div class="serviceTop">
                    <div class="serviceTopContent">
                        <div class="serviceTopContentLeft">
                            <p>
                                servis categori adı
                            </p>
                        </div>
                        <div class="">
                            <div class="serviceBtns">
                                <button type="button" class="addService btn btn-success">
                                    <i class="fa-sharp fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="removeServiceList btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <button class="angleBtn" disabled>
                                    <i class="fa-solid fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceBottom">
                    <ul>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="serviceItem">
                <div class="serviceTop">
                    <div class="serviceTopContent">
                        <div class="serviceTopContentLeft">
                            <p>
                                servis categori adı
                            </p>
                        </div>
                        <div class="">
                            <div class="serviceBtns">
                                <button type="button" class="addService btn btn-success">
                                    <i class="fa-sharp fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="removeServiceList btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <button class="angleBtn" disabled>
                                    <i class="fa-solid fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceBottom">
                    <ul>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="serviceItem">
                <div class="serviceTop">
                    <div class="serviceTopContent">
                        <div class="serviceTopContentLeft">
                            <p>
                                servis categori adı
                            </p>
                        </div>
                        <div class="">
                            <div class="serviceBtns">
                                <button type="button" class="addService btn btn-success">
                                    <i class="fa-sharp fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="removeServiceList btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <button class="angleBtn" disabled>
                                    <i class="fa-solid fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceBottom">
                    <ul>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="serviceAttrItem">
                            <div>
                                <p>
                                    servis categori adı
                                </p>
                            </div>
                            <div>
                                <div class="serviceBtns">
                                    <button type="button" class="addService btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button" class="removeServiceAttr btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>








<div class="modal fade" id="addServiceCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addServiceCategoryForm">
                    <div class="form-group position-relative error-l-50 _Pos_Rel">
                        <label>Service List Name</label>
                        <input type="text" class="form-control" name="categoryName" placeholder="Enter Your Service Category Name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="addServiceCategory">Add</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addServicePropertyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addServicePropertyForm">
                    <div class="form-group position-relative error-l-50">
                        <label>Service Category</label>
                        <select class="custom-select" name="ServiceCategoryId">
                            <option value="" disabled selected>Seçiniz</option>
                            @foreach (var item in Model.ServiceCategories)
                            {
                                <option value="@item.Id">@item.ServiceCategoryName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group position-relative error-l-50">
                        <label>Service Property Name</label>
                        <input type="text" class="form-control" name="PropertyName" placeholder="Enter Your Service Property Name">
                    </div>

                    <div class="form-group position-relative error-l-50">
                        <label>Service Property Description</label>
                        <div id="destriptionQuil"></div>
                        @*<input type="text" class="form-control" name="PropertyDescription" placeholder="Enter Your Service Property Description">*@
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="addServiceProperty">Add</button>
            </div>
        </div>
    </div>
</div>

@section pageJsScript{

    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
}


@section pageJs{
    <script>

        let description = new Quill("#destriptionQuil", {
            theme: "snow"
        });


        $('#addServiceProperty').on("click", function () {
            $('#addServicePropertyForm').submit();
        })

        $('#addServiceCategory').on("click", function () {
            $('#addServiceCategoryForm').submit();
        })

        $('#addServicePropertyForm').on("submit", function (e) {
            e.preventDefault();
            if ($('#addServicePropertyForm').valid()) {
                var formData = $(this).serialize() + "&PropertyDescription=" + description.root.innerHTML
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.AddServiceProperty))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service Property',
                            }).then(() => {
                                location.reload();
                            })
                        }
                    }
                });
            }
        })

        $('#addServiceCategoryForm').on("submit", function (e) {
            e.preventDefault();
            if ($('#addServiceCategoryForm').valid()) {
                var formData = $(this).serialize()
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.AddServiceCategory))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service Category',
                            }).then(() => {
                                location.reload();
                            })
                        }
                    }
                });
            }
            
        })
    </script>
}