@{
    Layout = "_PanelLayout";
}

@model UpdatePageServiceVM

<style>
    label.error {
        left: .3rem;
    }
</style>

<form id="updateServiceForm" class="mt-3">
    <div class="row">

        <div class="col-md-6 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Service List Name</label>
                <input type="text" class="form-control" name="serviceName" value="@Model.Service.ServiceName" placeholder="Enter Your Service List Name">
            </div>
        </div>
        <div class="col-md-6 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>List Description</label>
                <input type="text" class="form-control" name="ServiceDescription" value="@Model.Service.ServiceDescription" placeholder="Enter a description for your service list (optional)">
            </div>
        </div>
        <div class="col-sm-6 _Pos_Rel">
            <label>Service List</label>
            <select class="form-control select2-multiple" name="serviceItems" multiple="multiple" data-width="100%">
                @foreach (var category in Model.ServiceCategories)
                {
                    <optgroup label="@category.ServiceCategoryName">
                        @foreach (var properties in category.ServiceProperties)
                        {
                            if (Model.ServiceSelectedProperties.Contains(properties))
                            {
                                <option value="@properties.Id" selected>@properties.ServicePropertyName</option>
                            }
                            else
                            {
                                <option value="@properties.Id">@properties.ServicePropertyName</option>
                            }
                        }
                    </optgroup>
                }
            </select>
        </div>

        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Update Service
                </button>
            </div>
        </div>
    </div>
</form>


@section pageJs{
    <script>
        $('#updateServiceForm').on("submit", function (e) {
            e.preventDefault();
            if ($('#updateServiceForm').valid()) {
                var formData = $(this).serialize()
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.UpdateService))',
                    type: "POST",
                    data: formData + "&id=" + @Model.Service.Id,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service',
                            }).then(() => {
                                location.href = "/panel/service";
                            })
                        }
                    }
                });
            }
        })
    </script>
}