@model ReservationManagementVM
@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Reservation Detail";
}

@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section pageCSS{
    <style>
        #assignDriverBtn {
            white-space: nowrap;
            border-radius: 0;
            margin-left: 1rem;
        }

        .resPeople {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        :root {
            --shadow: 0 0 5px rgb(0, 0, 0, .16);
            --bg: #EFEEEE;
        }

        .resPeople > div {
            display: flex;
            align-items: center;
            padding: 1rem;
            height: 2.25rem;
            border-radius: .5rem;
            background-color: var(--bg);
            box-shadow: var(--shadow);
            -webkit-appearance: none;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
        }

        .resPeople > div {
            width: calc(50% - .5rem);
        }

        .firstPeople {
            width: calc(25% - .75rem) !important;
        }


        .carFlex {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .driverFlex {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }


        .carFlex .carLeft {
            width: calc(45% - .5rem);
            height: auto;
            display: flex;
            background-color: var(--bg);
            border-radius: .5rem;
            box-shadow: var(--shadow);
            -webkit-appearance: none;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            padding: 1rem;
        }

        .carFlex .carRight {
            width: calc(55% - .5rem);
            height: auto;
            background-color: var(--bg);
            border-radius: .5rem;
            box-shadow: var(--shadow);
            -webkit-appearance: none;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            padding: 1rem;
        }


        .driverFlex .driverLeft {
            width: calc(55% - .5rem);
            height: auto;
            background-color: var(--bg);
            border-radius: .5rem;
            box-shadow: var(--shadow);
            -webkit-appearance: none;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            padding: 1rem;
        }

        .driverFlex .driverRight {
            width: calc(45% - .5rem);
            height: auto;
            background-color: var(--bg);
            border-radius: .5rem;
            box-shadow: var(--shadow);
            -webkit-appearance: none;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            padding: 1rem;
        }

        .carServices {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;
        }

        .carServiceItem {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
        }

            .carServiceItem span {
                font-size: .7rem;
                font-weight: 600;
            }

        .carServices .carServiceItemImage {
            width: 4rem;
            height: 4rem;
            display: flex;
            padding: .5rem;
            border-radius: .3rem;
        }

            .carServices .carServiceItemImage img {
                width: 100%;
                object-fit: contain;
            }



        .carFlex h2,
        .driverFlex h2 {
            font-weight: bold;
        }

        .carInputs {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 1rem 0;
        }

            .carInputs > div {
                width: calc((100% / 3) - .67rem);
            }

                .carInputs > div > label {
                    font-size: .9rem;
                    font-weight: 500;
                }

                .carInputs > div > div {
                    margin-top: .1rem;
                    height: 2.25rem;
                    display: flex;
                    align-items: center;
                    border-radius: .3rem;
                    box-shadow: var(--shadow);
                    -webkit-appearance: none;
                    -webkit-box-shadow: var(--shadow);
                    -moz-box-shadow: var(--shadow);
                    padding: 0 1rem;
                    background-color: white;
                }

        .carLeft img {
            width: 80%;
            display: flex;
            margin: auto;
            object-fit: contain;
        }


        .slideDriverPhotos img {
            width: 100%;
            margin: auto;
            display: flex;
        }


        .slideDriverPhotos .slick-dots li button:before {
            border: 1px solid;
            border-radius: 50%;
            background-color: black;
            color: transparent;
        }

        .slideDriverPhotos {
            display: flex;
            align-items: center;
        }

        .slick-dots li.slick-active button {
            background: transparent !important;
        }

        @@media (max-width:992px) {
            .firstPeople {
                width: calc(50% - .5rem) !important;
            }

            .carInputs > div {
                width: calc(50% - .5rem);
            }
        }

        @@media (max-width:768px) {
            .carFlex .carLeft {
                width: 100%;
                height: 15rem;
                padding: 0;
            }

            .driverFlex .driverLeft, .driverFlex .driverRight {
                width: 100%;
            }

            .carLeft img {
                width: 15rem;
            }

            .carFlex .carRight {
                width: 100%;
            }

            .driverFlex {
                flex-direction: column-reverse;
            }
        }

        @@media (max-width:480px) {
            .resPeople > div {
                width: 100% !important;
            }
        }

        .topStyle {
            background-color: transparent !important;
            box-shadow: none !important
        }

        .driverRight.topStyle {
            margin-bottom: 1rem;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .driverRight.topStyle form {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

                .driverRight.topStyle form button {
                    white-space: nowrap;
                    border-radius: 0;
                    margin-left: 1rem;
                }

        h4.infosTitle {
            margin: 0;
            font-weight: 600;
            font-size: 1.3rem;
            color: var(--orange);
        }

        .infosP {
            font-size: 0.9rem;
            font-weight: 400;
            margin: 0.2rem 0 0 0;
            background: var(--bg);
            padding: 0.5rem;
            border-radius: 0.5rem;
        }

        .stepOneForm {
            padding: 0;
        }

        .detailServicesItem {
            background: var(--bg);
            width: 100%;
            border-radius: 0.5rem;
            cursor: pointer;
        }

        .detailServicesFlexDiv {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .detailServiceDownItemTopFlex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem 0.5rem;
        }

        .detailServicePrice p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 900;
            width: 10rem;
            text-align: end;
        }

        .detailServiceName p {
            margin: 0;
            font-size: 1.1rem;
            font-weight: 600;
        }

        .detailServiceDownItemBottom {
            padding: 0 0.8rem;
            margin: 0;
        }

        .detailInfosFlex {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .topInfos, .bottomInfos {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

            .topInfos > div {
                width: calc(50% - .5rem)
            }

            .bottomInfos > div {
                width: calc((100% / 3) - .67rem)
            }


        .pricingFlex h4 {
            font-size: 1rem;
        }

        .pricingFlex {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

            .pricingFlex > div {
                width: calc((100% / 3) - .67rem)
            }

        @@media (max-width:992px) {
            .topInfos > div, .bottomInfos > div, .pricingFlex > div {
                width: 100%;
            }
        }

    </style>
}
<a class="btn btn-primary" href="/panel/update-reservation/@Model.Reservation.Id">Update Reservation</a>
<section>
    <div class="container my-5">
        <div style="width: 100%; height: 350px;" id="map"></div>


        <div class="detailInfosFlex">
            <div class="topInfos">
                <div>
                    <h4 class="infosTitle">Pick Up</h4>
                    <p class="infosP">
                        @Model.Reservation.PickFullName
                    </p>
                </div>
                <div>
                    <h4 class="infosTitle">Drop Off</h4>
                    <p class="infosP">
                        @Model.Reservation.DropFullName
                    </p>
                </div>
            </div>

            <div class="bottomInfos">
                <div>
                    <h4 class="infosTitle">Flight Arrival</h4>
                    <p class="infosP">
                        @Model.Reservation.ReservationDate.ToString("dd.MM.yyyy HH:mm")
                    </p>
                </div>
                @if (Model.Reservation.ReturnStatus)
                {
                    <div>
                        <h4 class="infosTitle">Return</h4>
                        <p class="infosP">
                            @Model.Reservation.ReturnDate.ToString("dd.MM.yyyy HH:mm")
                        </p>
                    </div>
                }

                <div>
                    <h4 class="infosTitle">Passengers</h4>
                    <p class="infosP">
                        @Model.Reservation.PeopleCount
                    </p>
                </div>
            </div>

        </div>

        <!-- Müşterilerin Bilgileri -->
        <div class="my-4">
            <h4 class="infosTitle">Information of Persons</h4>
            <div class="resPeople mt-2">
                <div class="firstPeople">
                    @Model.Reservation.Name
                </div>
                <div class="firstPeople">
                    @Model.Reservation.Surname
                </div>
                <div class="firstPeople">
                    @Model.Reservation.Phone
                </div>
                <div class="firstPeople">
                    @Model.Reservation.Email
                </div>
                @if (Model.Reservation.ReservationPeoples != null && Model.Reservation.ReservationPeoples.Count > 0)
                {
                    @foreach (var item in Model.Reservation.ReservationPeoples)
                    {
                        <div class="otherPeople">
                            @item.Name @item.Surname
                        </div>
                    }
                }
            </div>
        </div>

        @if (Model.ReservationServicesTable != null && Model.ReservationServicesTable.Count > 0)
        {
            <div class="my-4">
                <h4 class="infosTitle">Services Received</h4>
                <div class="detailServicesFlexDiv mt-2">
                    @foreach (var item in Model.ReservationServicesTable)
                    {
                        <div class="detailServicesItem">
                            <div class="detailServiceDownItemTopFlex">
                                <div class="detailServiceName">
                                    <p>
                                        @item.ServiceItem.ServiceProperty.ServicePropertyName
                                    </p>
                                </div>
                                <div class="detailServicePrice">
                                    <p>€@item.ServiceItem.Price x <i class="fa-solid fa-user" style="font-size: 0.7rem;"></i> @item.PeopleCount = €@item.Price</p>
                                </div>
                            </div>
                            <div class="detailServiceDownItemBottom " style="display: none;">
                                <div class="detailServiceDesc">
                                    <div class="mt-2">
                                        <p>@item.ServiceItem.ServiceProperty.ServicePropertyName</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }




        <div class="pricingFlex">
            <div>
                <h4 class="infosTitle">Vehicle Fee</h4>
                <p class="infosP">
                    @Model.Reservation.OfferPrice €
                </p>
            </div>

            <div>
                <h4 class="infosTitle">Total Service Fee</h4>
                <p class="infosP">
                    @Model.Reservation.ServiceFee €
                </p>
            </div>

            <div>
                <h4 class="infosTitle">Amount to be paid</h4>
                <p class="infosP">
                    @if (Model.Reservation.IsDiscount || (Model.Reservation.Coupon != null && Model.Reservation.Coupon != 0))
                    {
                        <span style="text-decoration: line-through;opacity: .5;font-size: 1rem;font-weight: 700;">@(Math.Round(Convert.ToDouble(Model.Reservation.OfferPrice + Model.Reservation.ServiceFee), 2)) €</span>
                    }

                    <b>@Model.Reservation.TotalPrice €</b>
                </p>

                @if (Model.Reservation.Coupon != 0 && Model.Reservation.Coupon != null)
                {
                    <span><b>Discount Description:</b>@Model.Reservation.Coupons.CouponCode - @(Model.Reservation.Coupons.Discount)% | @Model.Reservation.DiscountText</span>
                }
                else if (Model.Reservation.IsDiscount)
                {
                    <span>
                        <b>Discount Description:</b>@Model.Reservation.DiscountText
                    </span>
                }
            </div>

        </div>


        <!-- Araç Bilgileri -->
        <div class="my-4">
            <div class="carFlex">
                <div class="carLeft">
                    <img src="@Model.Reservation.LocationCars.Car?.Type.CarImageURL" alt="">
                </div>
                <div class="carRight">
                    <h2>Car Infos</h2>
                    <div class="carInputs">
                        <div>
                            <label>Type</label>
                            <div>@Model.Reservation.LocationCars.Car?.Type.CarTypeName</div>
                        </div>
                        <div>
                            <label>Model</label>
                            <div>@Model.Reservation.LocationCars.Car?.Model.CarModelName</div>
                        </div>
                        <div>
                            <label>Series</label>
                            <div>@Model.Reservation.LocationCars.Car?.Series.CarSeriesName</div>
                        </div>
                        <div>
                            <label>Mas Passengers</label>
                            <div>@Model.Reservation.LocationCars.Car?.MaxPassenger</div>
                        </div>
                        <div>
                            <label>Suitcase</label>
                            <div>@Model.Reservation.LocationCars.Car?.SuitCase</div>
                        </div>
                        <div>
                            <label>Small Bags</label>
                            <div>@Model.Reservation.LocationCars.Car?.SmallBags</div>
                        </div>
                        <div>
                            <label>Plate</label>
                            <div>@Model.Reservation.LocationCars.Car?.Plate</div>
                        </div>
                    </div>

                    <div class="carServices">
                        @if (Model.Reservation.LocationCars.Car.Water)
                        {
                            <div class="carServiceItem">
                                <div class="carServiceItemImage">
                                    <img src="/img/i1.png" alt="">
                                </div>
                                <span>Free Water</span>
                            </div>
                        }

                        @if (Model.Reservation.LocationCars.Car.Disabled)
                        {
                            <div class="carServiceItem">
                                <div class="carServiceItemImage">
                                    <img src="/img/i2.png" alt="">
                                </div>
                                <span>Disabled</span>
                            </div>
                        }
                        @if (Model.Reservation.LocationCars.Car.Charger)
                        {
                            <div class="carServiceItem">
                                <div class="carServiceItemImage">
                                    <img src="/img/i3.png" alt="">
                                </div>
                                <span>Charger</span>
                            </div>
                        }
                        @if (Model.Reservation.LocationCars.Car.Wifi)
                        {
                            <div class="carServiceItem">
                                <div class="carServiceItemImage">
                                    <img src="/img/i4.png" alt="">
                                </div>
                                <span>Wifi</span>
                            </div>
                        }

                        @if (Model.Reservation.LocationCars.Car.Armored)
                        {
                            <div class="carServiceItem">
                                <div class="carServiceItemImage">
                                    <img src="/img/i5.png" alt="">
                                </div>
                                <span>Armored</span>
                            </div>
                        }

                        @if (Model.Reservation.LocationCars.Car.Partition)
                        {
                            <div class="carServiceItem">
                                <div class="carServiceItemImage">
                                    <img src="/img/i6.png" alt="">
                                </div>
                                <span>Partition</span>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>

        <!-- Sürücü Bilgileri -->
        <div class="my-4">
            <div class="driverFlex">

                <div class="driverLeft">
                    <h2>Driver Infos</h2>
                    <div class="carInputs">
                        <div>
                            <label>Driver ID</label>
                            <div>@Model.Reservation.Driver?.DriverId</div>
                        </div>
                        <div>
                            <label>Name</label>
                            <div>@Model.Reservation.Driver?.Name</div>
                        </div>
                        <div>
                            <label>Surname</label>
                            <div>@Model.Reservation.Driver?.Surname</div>
                        </div>
                        <div>
                            <label>E-Mail</label>
                            <div>@Model.Reservation.Driver?.LoginAuth?.Email</div>
                        </div>
                        <div>
                            <label>Phone</label>
                            <div>@Model.Reservation.Driver?.Phone</div>
                        </div>
                        <div>
                            <label>Date Of Birth</label>
                            <div>@Model.Reservation.Driver?.DateOfBirth</div>
                        </div>
                    </div>
                </div>
                <div class="driverRight">

                    <div class="slideDriverPhotos">
                        <div>
                            <img src="@Model.Reservation.Driver?.PhotoFront" alt="">
                        </div>
                        <div>
                            <img src="@Model.Reservation.Driver?.PhotoBack" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section  pageJsScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqSEVlrvgHJymL-F8GmxIwNbe8fYUjdg&libraries=places&callback=initMap"></script>
                }

@section pageJs{
    <script>



        $(".detailServicesItem").on("click", function () {
            $(this).find(".detailServiceDownItemBottom").slideToggle(150);
        })





        $('#assignDriverBtn').on("click", function () {
            var driverId = $('#driverSelectbox').val();
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.AssignDriver))',
                type: "POST",
                data: { reservationId: @Model.Reservation.Id, driverId: driverId },
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Assign Driver',
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Something went wrong',
                        }).then(() => {
                            location.reload()
                        })
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })

        $('.slideDriverPhotos').slick({
            infinite: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            dots: true,
        });

        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer({
                polylineOptions: {
                    strokeColor: 'red' // Yolun rengini burada belirleyebilirsiniz
                }
            });

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {@Model.Reservation.PickLatLng}, // Başlangıç noktası için koordinatlar
        mapTypeControl: false,
            streetViewControl: false,
                zoomControl: false,
                    fullscreenControl: false
                                                                                                                                            });

        directionsRenderer.setMap(map);

        var startPlaceId = "@Model.Reservation.PickPlaceId";
        var endPlaceId = "@Model.Reservation.DropPlaceId";

        var request = {
            origin: { placeId: startPlaceId },
            destination: { placeId: endPlaceId },
            travelMode: 'DRIVING' // Yürüyüş, bisiklet, transit veya araç seçeneklerinden birini seçin
        };

        directionsService.route(request, function (result, status) {
            if (status == 'OK') {
                directionsRenderer.setDirections(result);
            }
        });
                                                                                                                                        }


        window.onload = () => {
            initMap();
        }
    </script>
                        }