@model UserDatas
@{
    ViewData["title"] = "Company";
}
<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">

            @await Component.InvokeAsync("ProfileSidebar")

            <div class="_Profile_Right">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Your Company
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Details about your company information
                        </p>
                    </div>
                    <div>
                        <form id="_Profile_Form">
                            <div class="_Form_Flex_Style">

                                <div class="_Form_Div _Two _Info">
                                    <label class="_Form_Label">Company Name</label>
                                    <input type="text" name="CompanyName" value="@Model.CompanyName">
                                    <span>Please contact us if you’d like to change your company name.</span>
                                </div>

                                <div class="_Form_Div _Two _Info">
                                    <label class="_Form_Label">Company Email</label>
                                    <input type="text" name="CompanyEmail" value="@Model.CompanyEmail">
                                    <span>Please contact us if you’d like to change your e-mail.</span>
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Phone Number</label>
                                    <input type="text" name="CompanyPhoneNumber" value="@Model.CompanyPhoneNumber">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Country</label>
                                    <input type="text" name="Country" value="@Model.Country">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">Address</label>
                                    <input type="text" name="Address" value="@Model.Address">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">Website</label>
                                    <input type="text" name="CompanyWebsite" value="@Model.CompanyWebsite">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Linkedin</label>
                                    <input type="text" name="Linkedin" value="@Model.Linkedin">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Facebook</label>
                                    <input type="text" name="Facebook" value="@Model.Facebook">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">About Us</label>
                                    <label class="_Down_Label">Write a few sentences about the company and what it’s like to work there</label>
                                    <textarea name="AboutUs">@Model.AboutUs</textarea>
                                </div>
                                <div class="_Form_Div _Two">
                                    <button class="_Form_Button">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section pageJs{

    <script>

        $('#_Profile_Form').on("submit", function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                var formData = $(this).serialize()
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.WebProfileController.Company))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Succesful',
                                text: 'Successfully changed your company information',
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!!',
                                text: 'Something went wrong!! Try again ',
                            })
                        }
                    }
                });
            }
        })
    </script>

}
