@model Reservations

<section class="mt-5 _Module_Margin">
    <div class="container">
        <h1 class="_Page_Title mb-4">
            Reservation information
        </h1>
        <div class="_Page_Flex">
            <div class="_Page_Left">
                <img src="@Model.LocationCars.Car.Type.CarImageURL" alt="">
            </div>
            <div class="_Page_Right">
                <div class="_Page_Right_Style">
                    <h2>
                        @Model.LocationCars.Car.Brand.CarBrandName 
                    </h2>
                  <h3>Reservation Code: @Model.ReservationCode</h3>
                    <div class="my-4">
                        <p>TRANSFER-INN-PERA VIP TRAVEL</p>
                        <p>Min 1 Max @Model.LocationCars.Car.MaxPassenger Passengers</p>
                        <p>Max @Model.LocationCars.Car.SuitCase Suitcase+ @Model.LocationCars.Car.SmallBags Small Bags</p>
                    </div>
                    <div class="my-2">
                        <h4>Pick Up</h4>
                        <h5>@Model.PickFullName</h5>
                    </div>
                    <div class="my-2">
                        <h4>Drop Off</h4>
                        <h5>@Model.DropFullName</h5>
                    </div>
                    @if (Model.ReturnStatus)
                    {
                        <div class="my-2">
                            <h4>Return Date</h4>
                            <h5>@Model.ReturnDate</h5>
                        </div>
                    }
                    <div class="my-2">
                        <h4>Passengers</h4>
                        <h5>@Model.PeopleCount Adult</h5>
                    </div>
                    <div class="my-2">
                        <h4>Date</h4>
                        <h5>@Model.ReservationDate</h5>
                    </div>

                    @if (Model.IsDiscount)
                    {
                        <h6>Price:<span style="text-decoration: line-through;">@Model.Price €</span></h6>
                    }

                    <h3>:@(Model.IsDiscount ? "Discount Price" : "Price"):@(Model.IsDiscount ? Model.Discount : Model.Price) €</h3>
                </div>
            </div>
        </div>
    </div>
</section>