@using System.Security.Claims;
@model ReservationStepThreeVM

@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Manual Reservation";
    var userRole = User.Claims.Where(a => a.Type == ClaimTypes.Role).Select(a => a.Value).SingleOrDefault();
}


@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
}

@section pageCss{
    <style>
        ._Step3_Item {
            padding: 1.5rem;
        }

            ._Step3_Item p,
            ._Step3_Item h2 {
                margin: 0;
                font-weight: 600;
            }

            ._Step3_Item h4 {
                color: var(--orange);
                font-size: 1.25rem;
                font-weight: 600;
            }

            ._Step3_Item h3 {
                color: var(--orange);
                font-size: 2rem;
                font-weight: 600;
            }

            ._Step3_Item h5 {
                font-size: .9rem;
                font-weight: 400;
            }

            ._Step3_Item img {
                width: 100%;
                border-radius: 15px;
                overflow: hidden;
                height: 15rem;
                margin: auto;
                display: flex;
                object-fit: contain;
                box-shadow: 0 0 5px rgb(0,0,0,.16);
                -webkit-appearance: none;
                -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
                -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
            }

        ._Total_Flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            ._Total_Flex._Price_Flex {
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }

        #_Passenger_Form span {
            font-size: 12px;
        }

        ._Profile_Right._None_Shodow {
            box-shadow: none !important;
        }



        ._Total_Flex div.price {
            border: 1px solid rgb(0, 0, 0, .5);
            width: 11rem;
            position: relative;
            padding: .5rem .5rem .5rem .5rem;
            transition: padding 250ms;
        }

            ._Total_Flex div.price.active {
                padding: .5rem .5rem 8rem .5rem;
            }


        ._Total_Flex p {
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 0 1rem;
            text-align: center;
            transition: font-size 250ms, font-weight 250ms, text-decoration 250ms;
        }

        .newPriceInput, .newPriveDesc {
            width: 89%;
            padding: 0 1rem;
            height: 2rem;
            border: none;
            box-shadow: 0 0 5px rgb(0,0,0,.16);
            -webkit-appearance: none;
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
            outline: none;
            position: absolute;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 250ms, visibility 250ms;
        }

        div.price.active .newPriceInput, div.price.active .newPriveDesc {
            opacity: 1;
            visibility: visible;
        }

        .newPriveDesc {
            height: 5rem;
            top: 4.2rem;
            padding: 0.5rem !important;
        }

        .discountP, .price.active p {
            text-decoration: line-through;
            font-size: .9rem !important;
            font-weight: 200 !important;
        }

        input {
            outline: none;
            border: none;
        }

        ._Form_Div label.error {
            position: absolute;
            bottom: -1.4rem;
            left: 0.3rem;
            right: 0.5rem !important;
            top: 1.8rem;
            left: auto !important;
            bottom: auto;
            font-size: 1.2rem !important;
            font-weight: 600;
        }

        ._Pos_Phone label.error {
            top: 0.4rem !important;
        }

        .service_length_controle {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        p[type='peopleCountControl'] {
            cursor: pointer;
            user-select: none;
        }

        .text-block {
            opacity: .5;
        }
    </style>
}

<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">
            <div class="_Profile_Left">
                <div class="_Profile_Items_Flex">
                    <div class="_Step3_Item">
                        <img src="@Model.SelectedData.LocationCar.Car.Type.CarImageURL">
                        <h2>
                            @Model.SelectedData.LocationCar.Car.Brand.CarBrandName
                        </h2>
                        <div class="my-4">
                            <p>Min 1 Max @Model.SelectedData.LocationCar.Car.MaxPassenger Passengers</p>
                            <p>Max @Model.SelectedData.LocationCar.Car.SuitCase Suitcase+ @Model.SelectedData.LocationCar.Car.SmallBags Small Bags</p>
                        </div>
                        <div class="my-2">
                            <h4>Pick Up</h4>
                            <h5>@Model.SelectedData.PickLocationName</h5>
                        </div>
                        <div class="my-2">
                            <h4>Drop Off</h4>
                            <h5>@Model.SelectedData.DropLocationName</h5>
                        </div>
                        @if (Model.SelectedData.ReservationValues.ReturnStatus)
                        {
                            <div class="my-2">
                                <h4>Return Date</h4>
                                <h5>@Model.SelectedData.ReservationValues.ReturnDate.ToString("dd.MM.yyyy HH:mm")</h5>
                            </div>
                        }
                        <div class="my-2">
                            <h4>Passengers</h4>
                            <h5>@Model.SelectedData.ReservationValues.PeopleCount</h5>
                        </div>
                        <div class="my-2">
                            <h4>Date</h4>
                            <h5>@Model.SelectedData.ReservationValues.FlightTime.ToString("dd.MM.yyyy HH:mm")</h5>
                        </div>
                        <div class="my-2">
                            <div class="_Total_Flex">
                                <h3>
                                    Total
                                </h3>

                            </div>
                            <div class="_Total_Flex _Price_Flex">
                                <div class="price">
                                    <p><span> <span id="priceBox">@Model.SelectedData.TotalPrice</span> €</span></p>
                                    @if (userRole == "0" || userRole == "4")
                                    {
                                        <input class="newPriceInput" type="number" id="newPriceInput" value="@Model.SelectedData.TotalPrice">
                                        <textarea class="newPriveDesc" placeholder="Discount Description" id="discountDescription"></textarea>
                                    }

                                </div>
                                @if (userRole == "0" || userRole == "4")
                                {
                                    <div>
                                        <input id="discountCheck" type="checkbox" value="true"> Discount
                                    </div>
                                }
                            </div>
                            <p>
                                Free Cancellation <br>
                                All Taxes included
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="_Profile_Right _None_Shodow">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Passenger Details
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Number Of Luggages
                            Be sure not to take any extra luggage more than your supplier ' s limit. In those cases,
                            you may be charged for any extra pack or not to be taken by driver without any refund
                        </p>
                    </div>

                    <div>
                        <form id="_Passenger_Form">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Name</label>
                                    <input type="text" value="@Model.User?.Name" name="Name" class="form-control form-control-custom non-bor">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Surname</label>
                                    <input type="text" name="Surname" class="form-control form-control-custom non-bor">
                                </div>
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">E-mail</label>
                                    <input type="text" value="@Model.User?.LoginAuth?.Email" name="Email" class="form-control form-control-custom non-bor">

                                    <span>
                                        Your invoice will be sent to this e-mail address
                                    </span>
                                </div>

                                <div class="_Form_Div _Info_Div _Pos_Phone">
                                    <label class="_Form_Label">Phone</label>
                                    <input type="text" value="@(Model.User != null ? "+"+Model.User.RealPhone : "")" name="Phone" id="textPhone" class="form-control form-control-custom non-bor">
                                    <input type="hidden" name="RealPhone" value="@Model.User?.RealPhone" id="realPhoneInpt" />
                                    <span>
                                        You will be receiving both text and phone calls from
                                        the driver at this number.
                                    </span>
                                </div>

                                @for (int i = 0; i < Model.SelectedData.ReservationValues.PeopleCount - 1; i++)
                                {
                                    <div class="peopleList">
                                        <div class="_Form_Div">
                                            <label class="_Form_Label">@(i + 2) People Name</label>
                                            <input type="text" name="OthersName" class="form-control form-control-custom non-bor">
                                        </div>
                                        <div class="_Form_Div">
                                            <label class="_Form_Label">@(i + 2) People Surname</label>
                                            <input type="text" name="OthersSurname" class="form-control form-control-custom non-bor">
                                        </div>
                                    </div>
                                }
                            </div>



                            <div class="w-100">
                                <label class="_Form_Label" style="font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.1rem;">Comment</label>
                                <textarea class="form-control form-control-custom non-bor formTextarea mt-0" name="comment"></textarea>
                            </div>

                            @if (Model.SelectedData.LocationCar.Car.Service != null)
                            {
                                <div class="servicesFlexDiv">
                                    @foreach (var item in Model.SelectedData.LocationCar.Car.Service.ServiceItems)
                                    {
                                        <div class="pageServiceDownItems service-category-items" data-id="@item.Id">
                                            <div class="pageServiceDownItem service-category-item">
                                                <div style="display: flex;">
                                                    <div class="pageServiceDownItemTop" style="width:100%;">
                                                        <div class="pageServiceDownItemTopFlex">
                                                            <div class="pageServiceName">
                                                                <p>
                                                                    @item.ServiceProperty.ServicePropertyName
                                                                </p>
                                                            </div>
                                                            <div class="pageServicePrice">
                                                                <div class="service_length_controle">
                                                                    <div class="negative_icon">
                                                                        <i class="fa-solid fa-minus"></i>
                                                                    </div>
                                                                    <p type="peopleCountControl" class="peopleCountText text-center text-block" name="peopleCountInput"
                                                                       id="peopleCountInput">0</p>
                                                                    <div class="positive_icon"><i class="fa-solid fa-plus"></i></div>
                                                                </div>
                                                                <p>
                                                                    <b class="servicePrice">@item.Price</b> €
                                                                </p>
                                                                <button type="button" class="pageServiceAngle">
                                                                    <i class="fa-solid fa-angle-right"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="pageServiceDownItemBottom " style="display: none;">
                                                            <div class="pageServiceDesc pt-3 ">
                                                                <div class="mt-2">
                                                                    @Html.Raw(item.ServiceProperty.ServicePropertyDescription)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }

                            <div class="_Form_Div ml-2 mt-2">
                                <input type="checkbox" name="hidePrice" value="true" id="hidePrice" /> <label for="name">Hide Price on Voucher</label>
                            </div>

                            <div class="_Form_Div">
                                <button class="Form_Flex_Style_Button" type="submit">
                                    CREATE RESERVATİON
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section pageJsScript{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}

@section pageJs{
    <script>
        function getFormDataVal(name) {
            return $('#_Passenger_Form').find("[name='" + name + "']").val()
        }

        $('#_Passenger_Form').on("submit", function (e) {
            e.preventDefault()
            var returnedData = {
                passengerName: getFormDataVal("Name"),
                passengerSurname: getFormDataVal("Surname"),
                passengerEmail: getFormDataVal("Email"),
                passengerPhone: getFormDataVal("Phone"),
                passengerRealPhone: getFormDataVal("RealPhone"),
                serviceList: [],
                passengerList: [],
                hidePrice: $("#hidePrice").is(":checked"),
                isDiscount: $('#discountCheck').is(":checked"),
                discount: $('#discountCheck').is(":checked") ? $('#newPriceInput').val() : null,
                discountText: $('#discountCheck').is(":checked") ? $('#discountDescription').val() : "",
                passengerComment: getFormDataVal("comment")

            }

            var serviceList = []
            $.each($('.pageServiceDownItems'), function (key, value) {
                serviceList.push({
                    SelectedValue: $(value).attr("data-id"),
                    PeopleCountInput: parseInt($(value).find("#peopleCountInput").text().trim())
                })
            })

            var passengerList = []
            $.each($('.peopleList'), function (key, value) {
                passengerList.push({
                    passengerName: $(value).find("[name='OthersName']").val(),
                    passengerSurname: $(value).find("[name='OthersSurname']").val()
                })
            })
            returnedData.serviceList = serviceList;
            returnedData.passengerList = passengerList;


            if ($(this).valid()) {
                $.ajax({
                    url: '/panel/manual-reservation-three',
                    type: "POST",
                    data: { reservation: returnedData },
                    success: function (response) {
                        if (response.result == 1) {
                            location.href = "/panel/reservation-success?id=" + response.id
                        }
                        //$(document).html(result); // HTML içeriğini hedef div'e ekle
                    }
                });
            }

        })


        $(".positive_icon").on("click", function () {
            setTimeout(() => {
                let input = $(this).closest(".pageServicePrice").find("p[type='peopleCountControl']");
                $(input).text(Number($(input).text()) + 1)
                if (Number($(input).text()) > 0) {
                    $(input).removeClass("text-block")
                }
                else {
                    $(input).addClass("text-block")
                }
                checkCoupon()
            }, 50);
        })

        $(".negative_icon").on("click", function () {
            setTimeout(() => {
                let input = $(this).closest(".pageServicePrice").find("p[type='peopleCountControl']");
                if (Number($(input).text()) > 0) {
                    $(input).text(Number($(input).text()) - 1)
                }
                if (Number($(input).text()) > 0) {
                    $(input).removeClass("text-block")
                }
                else {
                    $(input).addClass("text-block")
                }
                checkCoupon()
            }, 50);
        })

        $('#discountDescription').on("click keyup change keydown", function () {
            $('#discountDescriptionWR').val($(this).val())
        })


        //$("body").on("click", ".pageServiceDownItemTop", function (e) {
        //    if ($(e.target).attr("class") != "passengerInputs" && $(e.target).attr("class") != "passengerInputs valid" && $(e.target).attr("class") != "passengerInputs error") {
        //        $(this).closest(".pageServiceDownItem").find(".pageServiceDownItemBottom").slideToggle(250);
        //        $(this).closest(".pageServiceDownItem").find(".pageServiceAngle").toggleClass("active");
        //    }
        //})

        const phoneInputField = document.querySelector("input[name='Phone']");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });


        $('#textPhone').on("change keypress keyup countrychange", function () {
            $('#realPhoneInpt').val(phoneInput.getNumber().replace("+", ""))
        })



        function checkCoupon() {

            var code = ""


            listCheckedItems = []
            var price = 0;

            $.each($('.pageServiceDownItems'), function (key, value) {
                listCheckedItems.push({
                    SelectedValue: $(value).attr("data-id"),
                    PeopleCountInput: parseInt($(value).find("#peopleCountInput").text().trim())
                })
            })

            $.ajax({
                url: '/Reservation/CheckCoupon',
                type: "POST",
                data: { coupon: code, selectedServices: listCheckedItems },
                success: function (response) {
                    if (response.result == 1) {

                        $('#priceBox').html(`<p class="discountText">
                                                                                                                                                                        <span id="discountBox">${response.data.value.oldPrice}</span> €
                                                                                                                                                            </p>

                                                                                                                                                            <p>
                                                                                                                                                                        <span id="priceBox">${response.data.value.price}</span> €
                                                                                                                                                            </p>
                                                                                                                                            `)


                    }
                    else if (response.result == 2) {

                        $('#priceBox').html(`
                                                                                                                                                                                        <span id="priceBox">${response.data.value.oldPrice}</span>
                                                                                                                                                    `)


                    }


                }
            });

        }



        var cleave = new Cleave('[name="Phone"]', {
            numericOnly: true,
            blocks: [15]
        });

        let listCheckedItems = []


    </script>
}