@using Airport.UI.Models.IM;
@model ReservationStepTwoVM
@{
    Layout = "_PanelLayout";
}

@section pageCss{
    <style>

        ._Form_Inputs > div {
            width: 100%;
        }

        ._Peoples_Div > div {
            width: 100% !important;
        }
    </style>
}

<section class="_Module_Margin">
    <div class="container">
        <div class="_Step_Flex">

            <div class="_Step_Left">
                <div class="_Step_Travel_Info_Style">
                    <div class="_Step_Travel_Flex">
                        <div>
                            <h3>Distance: </h3>
                            <p>@Model.Distance</p>
                        </div>
                        <div>
                            <h3>Estimated Duration:</h3>
                            <p>@Model.Duration</p>
                        </div>
                    </div>
                </div>
                <div class="_Step_Map_Area" id="map"></div>
                <div class="_Step_Travel_Form_Style">
                    <div class="_Step_Travel_Buttons">
                        <div class="One_Way">
                            <button type="button">One Way</button>
                        </div>
                        <div class="Roundtrip_Btn">
                            <button type="button">Roundtrip</button>
                        </div>
                    </div>
                    <div>
                        <div class="_Step_Travel_Form">
                            <form asp-route="getManualLocationValue" method="post">
                                <div class="_Form_Inputs">
                                    <div class="_Pos_Rel">
                                        <div>
                                            <label for="">Pick Up</label>
                                            <input class="get-location" id="_Pick_Up" name="PickValueText" placeholder="Search Location" type="text" value="@Model.SelectedReservationValues.PickValueText" />
                                            <input id="_Pick_Up_Value" name="PickValue" type="hidden" value="@Model.SelectedReservationValues.PickValue" />

                                        </div>
                                    </div>
                                    <div class="_Pos_Rel">
                                        <div>
                                            <label for="">Drop off</label>
                                            <input class="get-location" id="_Drop_Off" name="DropValueText" placeholder="Search Location" type="text" value="@Model.SelectedReservationValues.DropValueText" />

                                            <input id="_Drop_Off_Value" name="DropValue" type="hidden" value="@Model.SelectedReservationValues.DropValue" />
                                        </div>
                                    </div>
                                    <div class="_Pos_Rel">
                                        <label for="">Flight Arrival</label>
                                        <input type="datetime-local" name="FlightTime" value="@Model.SelectedReservationValues.FlightTime.ToString("yyyy-MM-ddTHH:mm:ss")">
                                        <img src="~/img/calendar.png" class="calendarImage" />
                                    </div>
                                    <div class="_Pos_Rel">
                                        <div class="@(Model.SelectedReservationValues.ReturnStatus ? "" : "d-none") Return_Arrival">
                                            <label for="">Return</label>
                                            <input type="datetime-local" name="ReturnDate" value="@(Model.SelectedReservationValues.ReturnStatus ? Model.SelectedReservationValues.ReturnDate.ToString("yyyy-MM-ddTHH:mm:ss"):"")">
                                            <img src="~/img/calendar.png" class="calendarImage" />

                                            <input type="checkbox" name="ReturnStatus" value="true" @(Model.SelectedReservationValues.ReturnStatus ? "checked" : "") style="position:absolute; opacity: 0;visibility: visible; " />
                                        </div>
                                        <div class="@(Model.SelectedReservationValues.ReturnStatus ? "d-none _DeActive" : "")">
                                            <button type="button" class="_Add_Return">
                                                <i class="fa-sharp fa-solid fa-plus"></i> Add Return
                                            </button>
                                        </div>
                                    </div>
                                    <div class="_Peoples_Div">
                                        <div class="_Pos_Rel">
                                            <label for="">Adults</label>
                                            <input type="number" name="PeopleCount" onkeydown="return numControl(event)" value="@Model.SelectedReservationValues.PeopleCount" min="1">
                                            <div class="_user_btns">
                                                <div class="_up_number">
                                                    <i class="fa-sharp fa-solid fa-caret-up"></i>
                                                </div>
                                                <div class="_down_number">
                                                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_Pos_Rel">
                                        <button class="_Search_Booking">
                                            Search Booking
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_Step_Right">
                <div class="_Cars_Flex">
                    @foreach (var item in Model.ReservationValues)
                    {
                        <div class="_Car_Item">
                            <div class="_Card_Item_Flex">
                                <div class="_Card_Item_Left">
                                    <div class="_Card_Item_Left_Inner_Flex">
                                        <div class="_Card_Item_Left_Inner_Left">
                                            <img src="@item.LocationCars.Car.Type.CarImageURL" alt="">
                                        </div>
                                        <div class="_Card_Item_Left_Inner_Right">
                                            <h3 class="_Car_Name">
                                                @item.LocationCars.Car.Brand.CarBrandName @item.LocationCars.Car.Model.CarModelName
                                            </h3>
                                            <p>
                                                <i class="fa-solid fa-user"></i> <span>@item.LocationCars.Car.MaxPassenger</span>
                                            </p>
                                            <p class="mt-2">
                                                <span title="Small Bag" style="margin-right: 1rem;"><i class="fa-solid fa-suitcase-rolling"></i> <span>@item.LocationCars.Car.SmallBags</span></span>  <span title="Suit Case"><i class="fa-solid fa-briefcase-blank"></i> <span>@item.LocationCars.Car.SuitCase</span></span>
                                            </p>
                                            <div class="_Car_Attrs_Flex">
                                                @if (item.LocationCars.Car.Wifi)
                                                {
                                                    <div class="_Car_Attr_Item">
                                                        <img src="~/img/i4.png" alt="">
                                                    </div>
                                                }

                                                @if (item.LocationCars.Car.Water)
                                                {
                                                    <div class="_Car_Attr_Item">
                                                        <img src="~/img/i1.png" alt="">
                                                    </div>
                                                }

                                                @if (item.LocationCars.Car.Charger)
                                                {
                                                    <div class="_Car_Attr_Item">
                                                        <img src="~/img/i3.png" alt="">
                                                    </div>
                                                }

                                                @if (item.LocationCars.Car.Disabled)
                                                {
                                                    <div class="_Car_Attr_Item">
                                                        <img src="~/img/i2.png" alt="">
                                                    </div>
                                                }

                                                @if (item.LocationCars.Car.Armored)
                                                {
                                                    <div class="_Car_Attr_Item">
                                                        <img src="~/img/i5.png" alt="">
                                                    </div>
                                                }

                                                @if (item.LocationCars.Car.Partition)
                                                {
                                                    <div class="_Car_Attr_Item">
                                                        <img src="~/img/i6.png" alt="">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_Card_Item_Right">
                                    <h3>
                                        Total one-way price
                                    </h3>
                                    <h4>
                                        €<span>@item.LastPrice</span>
                                    </h4>
                                    <p class="_Green">
                                        Free Cancellation
                                    </p>
                                    <p>
                                        Taxes included
                                    </p>
                                    <a href="/panel/manual-reservation-three/@item.LocationCars.Id">Book Now</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<div id="map"></div>

@section pageJsScript{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqSEVlrvgHJymL-F8GmxIwNbe8fYUjdg&libraries=places&callback=initMap"></script>
}

@section pageJs{
    <script>

        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer({
                polylineOptions: {
                    strokeColor: 'red' // Yolun rengini burada belirleyebilirsiniz
                }
            });

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {@Model.PickLocationLatLng}, // Başlangıç noktası için koordinatlar
        mapTypeControl: false,
            streetViewControl: false,
                zoomControl: false,
                    fullscreenControl: false
                                    });

        directionsRenderer.setMap(map);

        var startPlaceId = "@Model.PickLocationPlaceId";
        var endPlaceId = "@Model.DropLocationPlaceId";

        var request = {
            origin: { placeId: startPlaceId },
            destination: { placeId: endPlaceId },
            travelMode: 'DRIVING' // Yürüyüş, bisiklet, transit veya araç seçeneklerinden birini seçin
        };

        directionsService.route(request, function (result, status) {
            if (status == 'OK') {
                directionsRenderer.setDirections(result);
            }
        });
                                }

        window.onload = () => {
            initMap();
        }

        var pickPlaceId;
        var dropPlaceId;

        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var input = document.getElementById("_Pick_Up");
            var input2 = document.getElementById("_Drop_Off");

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                pickPlaceId = place.place_id
                $('#_Pick_Up_Value').val(pickPlaceId)
            });

            var autocomplete2 = new google.maps.places.Autocomplete(input2);

            autocomplete2.addListener('place_changed', function () {
                var place = autocomplete2.getPlace();
                dropPlaceId = place.place_id
                $('#_Drop_Off_Value').val(dropPlaceId)
            });
        }
    </script>
}