@model Reservations
@{
    Layout = "_PanelLayout";

    ViewData["title"] = "Manual Reservation";
}
@section pageCss{
    <style>

        .infosList {
            padding: 0;
            list-style: none;
        }

            .infosList li.active p {
                color: orange;
                font-size: 1.5rem;
                font-weight: 600;
            }



        p {
            margin: 0;
        }

        .price p {
            font-size: 1.85rem;
            font-weight: 600;
            text-decoration: underline;
        }

        .leftDetail {
            height: 100%;
            background-color: #eeeeee;
            border-radius: 10px;
            padding: 1rem;
        }

        .rightPhotos {
            height: 300px;
            margin-top: 1rem;
            padding: 1rem;
            background-color: #eeeeee;
            border-radius: 10px;
        }

        .rightMap {
            height: 300px;
            border-radius: 10px;
        }

        li.detail {
            font-size: 0.8rem;
            margin-top: -0.4rem;
            border-bottom: 1px solid #00000033;
            padding-bottom: .5rem;
        }

    </style>
}


<section class="mt-5 _Module_Margin">
    <div class="container">
        <h1 class="_Page_Title mb-4">
            Reservation information
        </h1>
        <div class="_Page_Flex">
            <div class="_Page_Left">
                <img src="@Model.LocationCars.Car.Type.CarImageURL" alt="">
            </div>
            <div class="_Page_Right">
                <div class="_Page_Right_Style">
                    <h2>
                        @Model.LocationCars.Car.Brand.CarBrandName @Model.LocationCars.Car.Model.CarModelName @Model.LocationCars.Car.Series.CarSeriesName
                    </h2>

                    <h3>Reservation Code: @Model.ReservationCode</h3>

                    <div class="my-4">
                        <p>Min 1 Max @Model.LocationCars.Car.MaxPassenger Passengers</p>
                        <p>Max @Model.LocationCars.Car.SuitCase Suitcase+ @Model.LocationCars.Car.SmallBags Small Bags</p>
                    </div>

                    <ul class="infosList">
                        <li class="active">
                            <p>
                                Pick Up
                            </p>
                        </li>
                        <li>
                            <p>
                                @Model.PickFullName
                            </p>
                        </li>

                        <li class="active">
                            <p>
                                Drop Off
                            </p>
                        </li>
                        <li>
                            <p>
                                @Model.DropFullName
                            </p>
                        </li>

                        <li class="active">
                            <p>
                                Passengers
                            </p>
                        </li>
                        <li>
                            <p>
                                @Model.PeopleCount Adult
                            </p>
                        </li>
                        @if (Model.ReservationServicesTables.Count > 0)
                        {
                            <li class="active">
                                <p>
                                    Services
                                </p>
                            </li>

                            @foreach (var item in Model.ReservationServicesTables)
                            {
                                <li>
                                    <p>
                                        @item.ServiceItem.ServiceProperty.ServicePropertyName : <b>€@item.Price</b>
                                    </p>
                                </li>
                                <li class="detail">

                                    @Html.Raw(item.ServiceItem.ServiceProperty.ServicePropertyDescription)

                                </li>
                            }
                        }
                       
                        <li class="active">
                            <p>
                                Date
                            </p>
                        </li>
                        <li>
                            <p>
                                @Model.ReservationDate
                            </p>
                        </li>

                        <li class="price">
                            <p>
                                @(Model.IsDiscount ? "Discount Price" : "Price"):@(Model.IsDiscount ? Model.Discount : (Model.OfferPrice + Model.ServiceFee))
                            </p>
                        </li>
                    </ul>


                    <a class="_Btn_Style btn" href="http://airportglobaltransfer.com/pdf/@(Model.ReservationCode)-@(Model.Id).pdf" target="_blank">Download Voucher</a>
                </div>
            </div>
        </div>
    </div>
</section>