@model ReservationStepThreeVM

@{
    Layout = "_PanelLayout";
}

@section pageCss{
    <style>
        ._Step3_Item {
            padding: 1.5rem;
        }

            ._Step3_Item p,
            ._Step3_Item h2 {
                margin: 0;
                font-weight: 600;
            }

            ._Step3_Item h4 {
                color: var(--orange);
                font-size: 1.25rem;
                font-weight: 600;
            }

            ._Step3_Item h3 {
                color: var(--orange);
                font-size: 2rem;
                font-weight: 600;
            }

            ._Step3_Item h5 {
                font-size: .9rem;
                font-weight: 400;
            }

            ._Step3_Item img {
                width: 100%;
                border-radius: 15px;
                overflow: hidden;
                height: 15rem;
                margin: auto;
                display: flex;
                object-fit: cover;
                box-shadow: 0 0 5px rgb(0, 0, 0, .16);
            }

        ._Total_Flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #_Passenger_Form span {
            font-size: 12px;
        }

        ._Profile_Right._None_Shodow {
            box-shadow: none !important;
        }



        ._Total_Flex div.price {
            border: 1px solid rgb(0, 0, 0, .5);
            width: 9rem;
            position: relative;
            padding: .5rem .5rem .5rem .5rem;
            transition: padding 250ms;
        }

            ._Total_Flex div.price.active {
                padding: .5rem .5rem 2.5rem .5rem;
            }


        ._Total_Flex p {
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 0 1rem;
            text-align: center;
            transition: font-size 250ms, font-weight 250ms, text-decoration 250ms;
        }

        .newPriceInput {
            width: 89%;
            padding: 0 1rem;
            height: 2rem;
            border: none;
            box-shadow: 0 0 5px rgb(0, 0, 0, .16);
            outline: none;
            position: absolute;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 250ms, visibility 250ms;
        }

        div.price.active .newPriceInput {
            opacity: 1;
            visibility: visible;
        }

        .discountP {
            text-decoration: line-through;
            font-size: .9rem !important;
            font-weight: 200 !important;
        }

        input{
            outline: none;
            border: none;
        }

        ._Form_Div label.error {
            position: absolute;
            bottom: -1.4rem;
            left: 0.3rem;
            right: 0.5rem !important;
            top: 1.8rem;
            left: auto !important;
            bottom: auto;
            font-size: 1.2rem !important;
            font-weight: 600;
        }

    </style>
}

<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">
            <div class="_Profile_Left">
                <div class="_Profile_Items_Flex">
                    <div class="_Step3_Item">
                        <img src="@Model.SelectedData.LocationCar.Car.Type.CarImageURL">
                        <h2>
                            @Model.SelectedData.LocationCar.Car.Brand.CarBrandName
                        </h2>
                        <div class="my-4">
                            <p>TRANSFER-INN-PERA VIP TRAVEL</p>
                            <p>Min 1 Max @Model.SelectedData.LocationCar.Car.MaxPassenger Passengers</p>
                            <p>Max @Model.SelectedData.LocationCar.Car.SuitCase Suitcase+ @Model.SelectedData.LocationCar.Car.SmallBags Small Bags</p>
                        </div>
                        <div class="my-2">
                            <h4>Pick Up</h4>
                            <h5>@Model.SelectedData.PickLocationName</h5>
                        </div>
                        <div class="my-2">
                            <h4>Drop Off</h4>
                            <h5>@Model.SelectedData.DropLocationName</h5>
                        </div>
                        @if (Model.SelectedData.ReservationValues.ReturnStatus)
                        {
                            <div class="my-2">
                                <h4>Return Date</h4>
                                <h5>@Model.SelectedData.ReservationValues.ReturnDate</h5>
                            </div>
                        }
                        <div class="my-2">
                            <h4>Passengers</h4>
                            <h5>@Model.SelectedData.ReservationValues.PeopleCount</h5>
                        </div>
                        <div class="my-2">
                            <h4>Date</h4>
                            <h5>@Model.SelectedData.ReservationValues.FlightTime</h5>
                        </div>
                        <div class="my-2">

                            <div class="_Total_Flex">
                                <h3>
                                    Total
                                </h3>
                                <div>
                                    <div class="price">
                                        <p><span>€ @Model.SelectedData.LastPrice</span></p>
                                        <input class="newPriceInput" type="number" id="newPriceInput" value="@Model.SelectedData.LastPrice">
                                    </div>
                                    <input id="discountCheck" type="checkbox"> Discount
                                </div>
                            </div>

                            <p>
                                Free Cancellation <br>
                                All Taxes included
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="_Profile_Right _None_Shodow">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Passenger Details
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Number Of Luggages
                            Be sure not to take any extra luggage more than your supplier ' s limit. In those cases,
                            you may be charged for any extra pack or not to be taken by driver without any refund
                        </p>
                    </div>
                    <div>
                        <form id="_Passenger_Form" asp-route="getManualBookValues">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Name</label>
                                    <input type="text" value="@Model.User?.Name" name="Name">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Surname</label>
                                    <input type="text" name="Surname">
                                </div>
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">E-mail</label>
                                    <input type="text" value="@Model.User?.Eposta" name="Email">
                                    <span>
                                        Your invoice will be sent to this e-mail address
                                    </span>
                                </div>
                              
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">Phone</label>
                                    <input type="text" value="@Model.User?.PhoneNumber" name="Phone">
                                    <span>
                                        You will be receiving both text and phone calls from
                                        the driver at this number.
                                    </span>
                                    <input type="hidden" name="IsDiscount" value="false" />
                                    <input type="hidden" name="Discount" value="@Model.SelectedData.LastPrice" />
                                </div>

                                @for (int i = 0; i < Model.SelectedData.ReservationValues.PeopleCount - 1; i++)
                                {
                                    <div class="_Form_Div">
                                        <label class="_Form_Label">@(i + 2) People Name</label>
                                        <input type="text" name="OthersName">
                                    </div>
                                    <div class="_Form_Div">
                                        <label class="_Form_Label">@(i + 2) People Surname</label>
                                        <input type="text" name="OthersSurname">
                                    </div>
                                }

                                <div class="_Form_Div">
                                    <button>
                                        CREATE RESERVATİON
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section pageJs{
    <script>
        $('#discountCheck').on("change",function(){
            $('input[name="IsDiscount"]').val($(this).is(":checked"))
        })

        $('#newPriceInput').on('change',function(){
            $('input[name="Discount"]').val($(this).val())
        })

        var cleave = new Cleave('[name="Phone"]', {
            numericOnly: true,
            blocks: [15]
        });

    </script>
}