@using Airport.UI.Models.IM;
@model List<GetReservationValues>
<style>
    #map {
        height: 500px;
    }
</style>

<section class="_Module_Margin">
    <div class="container">
        <div class="_Step_Flex">
            <div class="_Step_Left">
                <div class="_Step_Map_Area"></div>
            </div>
            <div class="_Step_Right">
                <div class="_Cars_Flex">
                    @foreach (var item in Model)
                    {
                        <div class="_Car_Item">
                            <div class="_Card_Item_Flex">
                                <div class="_Card_Item_Left">
                                    <div class="_Card_Item_Left_Inner_Flex">
                                        <div class="_Card_Item_Left_Inner_Left">
                                            <img src="@item.LocationCars.Car.Type.CarImageURL" alt="">
                                        </div>
                                        <div class="_Card_Item_Left_Inner_Right">
                                            <h3 class="_Car_Name">
                                                @item.LocationCars.Car.Brand.CarBrandName
                                            </h3>
                                            <p>
                                                <i class="fa-solid fa-user"></i> <span>@item.LocationCars.Car.SmallBags - @item.LocationCars.Car.SuitCase</span>
                                            </p>
                                            <div class="_Car_Attrs_Flex">
                                                <div class="_Car_Attr_Item">
                                                    <img src="img/i4.png" alt="">
                                                </div>
                                                <div class="_Car_Attr_Item">
                                                    <img src="img/i1.png" alt="">
                                                </div>
                                                <div class="_Car_Attr_Item">
                                                    <img src="img/i3.png" alt="">
                                                </div>
                                                <div class="_Car_Attr_Item">
                                                    <img src="img/i2.png" alt="">
                                                </div>
                                                <div class="_Car_Attr_Item">
                                                    <img src="img/i5.png" alt="">
                                                </div>
                                                <div class="_Car_Attr_Item">
                                                    <img src="img/i6.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_Card_Item_Right">
                                    <h3>
                                        Total one-way price
                                    </h3>
                                    <h4>
                                        €<span>@item.LastPrice</span>
                                    </h4>
                                    <p class="_Green">
                                        Free Cancellation
                                    </p>
                                    <p>
                                        Taxes included
                                    </p>
                                    <a href="/reservation-step-three/@item.LocationCars.Id">Book Now</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<div id="map"></div>

@section pageJsScript{
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqSEVlrvgHJymL-F8GmxIwNbe8fYUjdg&libraries=places&callback=initMap"></script>
}

