@model ReservationStepThreeVM
@section pageCss{
    <style>
        ._Step3_Item {
            padding: 1.5rem;
        }

            ._Step3_Item p,
            ._Step3_Item h2 {
                margin: 0;
                font-weight: 600;
            }

            ._Step3_Item h4 {
                color: var(--orange);
                font-size: 1.25rem;
                font-weight: 600;
            }

            ._Step3_Item h3 {
                color: var(--orange);
                font-size: 2rem;
                font-weight: 600;
            }

            ._Step3_Item h5 {
                font-size: .9rem;
                font-weight: 400;
            }

            ._Step3_Item img {
                width: 100%;
                border-radius: 15px;
                overflow: hidden;
                height: 15rem;
                margin: auto;
                display: flex;
                object-fit: contain;
                box-shadow: 0 0 5px rgb(0, 0, 0, .16);
            }

        ._Total_Flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            ._Total_Flex p {
                font-size: 2rem;
            }

        #_Passenger_Form span {
            font-size: 12px;
        }

        ._Profile_Right._None_Shodow {
            box-shadow: none !important;
        }

        input {
            outline: none;
            border: none;
        }

        ._Form_Div label.error {
            position: absolute;
            bottom: -1.4rem;
            left: 0.3rem;
            right: 0.5rem !important;
            top: 1.8rem;
            left: auto !important;
            bottom: auto;
            font-size: 1.2rem !important;
            font-weight: 600;
        }

    </style>
}

<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">
            <div class="_Profile_Left">
                <div class="_Profile_Items_Flex">
                    <div class="_Step3_Item">
                        <img src="@Model.SelectedData.LocationCar.Car.Type.CarImageURL">
                        <h2>
                            @Model.SelectedData.LocationCar.Car.Brand.CarBrandName
                        </h2>
                        <div class="my-4">
                            <p>TRANSFER-INN-PERA VIP TRAVEL</p>
                            <p>Min 1 Max @Model.SelectedData.LocationCar.Car.MaxPassenger Passengers</p>
                            <p>Max @Model.SelectedData.LocationCar.Car.SuitCase Suitcase+ @Model.SelectedData.LocationCar.Car.SmallBags Small Bags</p>
                        </div>
                        <div class="my-2">
                            <h4>Pick Up</h4>
                            <h5>@Model.SelectedData.PickLocationName</h5>
                        </div>
                        <div class="my-2">
                            <h4>Drop Off</h4>
                            <h5>@Model.SelectedData.DropLocationName</h5>
                        </div>
                        @if (Model.SelectedData.ReservationValues.ReturnStatus)
                        {
                            <div class="my-2">
                                <h4>Return Date</h4>
                                <h5>@Model.SelectedData.ReservationValues.ReturnDate</h5>
                            </div>
                        }
                        <div class="my-2">
                            <h4>Passengers</h4>
                            <h5>@Model.SelectedData.ReservationValues.PeopleCount</h5>
                        </div>
                        <div class="my-2">
                            <h4>Date</h4>
                            <h5>@Model.SelectedData.ReservationValues.FlightTime</h5>
                        </div>
                        <div class="my-2">
                            <div class="_Total_Flex">
                                <h3>
                                    Total
                                </h3>
                                <p>
                                    €@Model.SelectedData.LastPrice
                                </p>
                            </div>
                            <p>
                                Free Cancellation <br>
                                All Taxes included
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="_Profile_Right _None_Shodow">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Passenger Details
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Number Of Luggages
                            Be sure not to take any extra luggage more than your supplier ' s limit. In those cases,
                            you may be charged for any extra pack or not to be taken by driver without any refund
                        </p>
                    </div>
                    <div>
                        <label for="Servisler">Servisler</label>
                        <select class="form-control select2-multiple" id="serviceList" name="serviceItems" multiple="multiple"
                                data-width="100%">
                            <optgroup label="A">
                                <option value="A1">A1</option>
                                <option value="A2">A2</option>
                            </optgroup>
                            <optgroup label="B">
                                <option value="B1">B1</option>
                                <option value="B2">B2</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="pageServices my-5">
                        <div class="pageServiceItem">
                            <h3>
                                Category Name
                            </h3>
                            <div class="pageServiceDownItems">
                                <div class="pageServiceDownItem">
                                    <div class="pageServiceDownItemTop">
                                        <div class="pageServiceName">
                                            <p>
                                                Servis Adı
                                            </p>
                                        </div>
                                        <div class="pageServicePrice">
                                            <p>
                                                €65
                                            </p>
                                            <button class="pageServiceAngle">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pageServiceDownItemBottom" style="display: none;">
                                        <div class="pageServiceDesc pt-3">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum incidunt
                                                voluptatibus adipisci perspiciatis autem quod accusantium reprehenderit! At
                                                saepe repudiandae dolorum corporis eligendi ut voluptas commodi cum dolor. Rerum
                                                s numquam, optio perferendis.
                                                Consequatur, recusandae voluptates magnam distinctio officiis quo quia porro
                                                dolorum, doloribus maxime doloremque facere aut, ab eligendi? Est atque,
                                                necessitatibus nemo iste nisi quae explicabo! Saepe molestiae omnis quasi modi
                                                eaque soluta, ab nesciunt, ipsam fuga laborum commodi? Iusto velit amet iure
                                                molestias necessitatibus illum consectetur dolorum nulla, quo at magnam.
                                                Obcaecati, fuga consequuntur, exercitationem odio voluptates mollitia quasi
                                                dolorum similique reiciendis neque, ullam quo? Rem inventore expedita saepe
                                                labore deserunt odit ad, est nemo libero quis. Tempora velit at debitis
                                                veritatis, soluta assumenda impedit nostrum aut, natus repudiandae eligendi
                                                aliquam id nesciunt ipsum? Assumenda adipisci accusantium soluta at sit odit
                                                exercitationem, obcaecati pariatur enim quaerat quo doloremque commodi, nam modi
                                                accusamus possimus laudantium? Temporibus quibusdam distinctio cupiditate
                                                officia consequuntur in, reiciendis recusandae molestiae porro ducimus id
                                                reprehenderit beatae nemo obcaecati, suscipit ipsum inventore ut. Sequi
                                                repudiandae temporibus labore, unde officia debitis totam excepturi magni,
                                                perspiciatis fuga natus, earum qui est. Nisi deleniti quae voluptatibus sunt
                                                assumenda eum repudiandae dolore illo impedit ut vitae asperiores ipsum nam
                                                incidunt animi vel vero aliquam debitis, soluta sit veniam saepe quisquam
                                                delectus reprehenderit! Facilis et voluptates minus maiores optio? Dicta,
                                                reiciendis nam! Fugiat facere doloribus earum vitae accusamus ullam expedita
                                                quidem quos, saepe, ipsum deserunt provident labore facilis quod aut quasi,
                                                totam in aliquam magni sit enim. Eius et non nobis, blanditiis id ipsum facilis
                                                sunt ea qui exercitationem eveniet autem at sit officia illo harum culpa
                                                quisquam. Vitae perferendis nesciunt totam porro libero odit error perspiciatis
                                                illum voluptate ex sequi qui consequatur accusantium facere explicabo
                                                consectetur molestiae ullam, fugit quibusdam reiciendis sit voluptatem? Debitis
                                                dolor aut, repellendus delectus minus nam. Adipisci ratione possimus, doloribus
                                                perferendis magni doloremque nisi corporis, non alias distinctio ea dolorum
                                                dolorem recusandae. Eaque fuga voluptatem odit sequi beatae optio sint sapiente
                                                molestiae rem ullam, facilis nisi! Dolorem modi sunt consequatur necessitatibus
                                                assumenda. Commodi incidunt atque veritatis consequatur. Nostrum, dicta
                                                quibusdam. Commodi ab veritatis rem sunt labore? Iste quo minus fugiat in?
                                                Molestiae nobis tenetur natus accusamus ea voluptas corrupti ipsa ducimus est
                                                enim, ratione maxime corporis autem minima tempore nam. Doloribus sunt atque
                                                quaerat illo. Suscipit optio assumenda illo omnis incidunt eos placeat aliquid!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pageServiceDownItem">
                                    <div class="pageServiceDownItemTop">
                                        <div class="pageServiceName">
                                            <p>
                                                Servis Adı
                                            </p>
                                        </div>
                                        <div class="pageServicePrice">
                                            <p>
                                                €65
                                            </p>
                                            <button class="pageServiceAngle">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pageServiceDownItemBottom" style="display: none;">
                                        <div class="pageServiceDesc pt-3">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum incidunt
                                                voluptatibus adipisci perspiciatis autem quod accusantium reprehenderit! At
                                                saepe repudiandae dolorum corporis eligendi ut voluptas commodi cum dolor. Rerum
                                                s numquam, optio perferendis.
                                                Consequatur, recusandae voluptates magnam distinctio officiis quo quia porro
                                                dolorum, doloribus maxime doloremque facere aut, ab eligendi? Est atque,
                                                necessitatibus nemo iste nisi quae explicabo! Saepe molestiae omnis quasi modi
                                                eaque soluta, ab nesciunt, ipsam fuga laborum commodi? Iusto velit amet iure
                                                molestias necessitatibus illum consectetur dolorum nulla, quo at magnam.
                                                Obcaecati, fuga consequuntur, exercitationem odio voluptates mollitia quasi
                                                dolorum similique reiciendis neque, ullam quo? Rem inventore expedita saepe
                                                labore deserunt odit ad, est nemo libero quis. Tempora velit at debitis
                                                veritatis, soluta assumenda impedit nostrum aut, natus repudiandae eligendi
                                                aliquam id nesciunt ipsum? Assumenda adipisci accusantium soluta at sit odit
                                                exercitationem, obcaecati pariatur enim quaerat quo doloremque commodi, nam modi
                                                accusamus possimus laudantium? Temporibus quibusdam distinctio cupiditate
                                                officia consequuntur in, reiciendis recusandae molestiae porro ducimus id
                                                reprehenderit beatae nemo obcaecati, suscipit ipsum inventore ut. Sequi
                                                repudiandae temporibus labore, unde officia debitis totam excepturi magni,
                                                perspiciatis fuga natus, earum qui est. Nisi deleniti quae voluptatibus sunt
                                                assumenda eum repudiandae dolore illo impedit ut vitae asperiores ipsum nam
                                                incidunt animi vel vero aliquam debitis, soluta sit veniam saepe quisquam
                                                delectus reprehenderit! Facilis et voluptates minus maiores optio? Dicta,
                                                reiciendis nam! Fugiat facere doloribus earum vitae accusamus ullam expedita
                                                quidem quos, saepe, ipsum deserunt provident labore facilis quod aut quasi,
                                                totam in aliquam magni sit enim. Eius et non nobis, blanditiis id ipsum facilis
                                                sunt ea qui exercitationem eveniet autem at sit officia illo harum culpa
                                                quisquam. Vitae perferendis nesciunt totam porro libero odit error perspiciatis
                                                illum voluptate ex sequi qui consequatur accusantium facere explicabo
                                                consectetur molestiae ullam, fugit quibusdam reiciendis sit voluptatem? Debitis
                                                dolor aut, repellendus delectus minus nam. Adipisci ratione possimus, doloribus
                                                perferendis magni doloremque nisi corporis, non alias distinctio ea dolorum
                                                dolorem recusandae. Eaque fuga voluptatem odit sequi beatae optio sint sapiente
                                                molestiae rem ullam, facilis nisi! Dolorem modi sunt consequatur necessitatibus
                                                assumenda. Commodi incidunt atque veritatis consequatur. Nostrum, dicta
                                                quibusdam. Commodi ab veritatis rem sunt labore? Iste quo minus fugiat in?
                                                Molestiae nobis tenetur natus accusamus ea voluptas corrupti ipsa ducimus est
                                                enim, ratione maxime corporis autem minima tempore nam. Doloribus sunt atque
                                                quaerat illo. Suscipit optio assumenda illo omnis incidunt eos placeat aliquid!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pageServiceItem">
                            <h3>
                                Category Name
                            </h3>
                            <div class="pageServiceDownItems">
                                <div class="pageServiceDownItem">
                                    <div class="pageServiceDownItemTop">
                                        <div class="pageServiceName">
                                            <p>
                                                Servis Adı
                                            </p>
                                        </div>
                                        <div class="pageServicePrice">
                                            <p>
                                                €65
                                            </p>
                                            <button class="pageServiceAngle">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pageServiceDownItemBottom" style="display: none;">
                                        <div class="pageServiceDesc pt-3">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum incidunt
                                                voluptatibus adipisci perspiciatis autem quod accusantium reprehenderit! At
                                                saepe repudiandae dolorum corporis eligendi ut voluptas commodi cum dolor. Rerum
                                                s numquam, optio perferendis.
                                                Consequatur, recusandae voluptates magnam distinctio officiis quo quia porro
                                                dolorum, doloribus maxime doloremque facere aut, ab eligendi? Est atque,
                                                necessitatibus nemo iste nisi quae explicabo! Saepe molestiae omnis quasi modi
                                                eaque soluta, ab nesciunt, ipsam fuga laborum commodi? Iusto velit amet iure
                                                molestias necessitatibus illum consectetur dolorum nulla, quo at magnam.
                                                Obcaecati, fuga consequuntur, exercitationem odio voluptates mollitia quasi
                                                dolorum similique reiciendis neque, ullam quo? Rem inventore expedita saepe
                                                labore deserunt odit ad, est nemo libero quis. Tempora velit at debitis
                                                veritatis, soluta assumenda impedit nostrum aut, natus repudiandae eligendi
                                                aliquam id nesciunt ipsum? Assumenda adipisci accusantium soluta at sit odit
                                                exercitationem, obcaecati pariatur enim quaerat quo doloremque commodi, nam modi
                                                accusamus possimus laudantium? Temporibus quibusdam distinctio cupiditate
                                                officia consequuntur in, reiciendis recusandae molestiae porro ducimus id
                                                reprehenderit beatae nemo obcaecati, suscipit ipsum inventore ut. Sequi
                                                repudiandae temporibus labore, unde officia debitis totam excepturi magni,
                                                perspiciatis fuga natus, earum qui est. Nisi deleniti quae voluptatibus sunt
                                                assumenda eum repudiandae dolore illo impedit ut vitae asperiores ipsum nam
                                                incidunt animi vel vero aliquam debitis, soluta sit veniam saepe quisquam
                                                delectus reprehenderit! Facilis et voluptates minus maiores optio? Dicta,
                                                reiciendis nam! Fugiat facere doloribus earum vitae accusamus ullam expedita
                                                quidem quos, saepe, ipsum deserunt provident labore facilis quod aut quasi,
                                                totam in aliquam magni sit enim. Eius et non nobis, blanditiis id ipsum facilis
                                                sunt ea qui exercitationem eveniet autem at sit officia illo harum culpa
                                                quisquam. Vitae perferendis nesciunt totam porro libero odit error perspiciatis
                                                illum voluptate ex sequi qui consequatur accusantium facere explicabo
                                                consectetur molestiae ullam, fugit quibusdam reiciendis sit voluptatem? Debitis
                                                dolor aut, repellendus delectus minus nam. Adipisci ratione possimus, doloribus
                                                perferendis magni doloremque nisi corporis, non alias distinctio ea dolorum
                                                dolorem recusandae. Eaque fuga voluptatem odit sequi beatae optio sint sapiente
                                                molestiae rem ullam, facilis nisi! Dolorem modi sunt consequatur necessitatibus
                                                assumenda. Commodi incidunt atque veritatis consequatur. Nostrum, dicta
                                                quibusdam. Commodi ab veritatis rem sunt labore? Iste quo minus fugiat in?
                                                Molestiae nobis tenetur natus accusamus ea voluptas corrupti ipsa ducimus est
                                                enim, ratione maxime corporis autem minima tempore nam. Doloribus sunt atque
                                                quaerat illo. Suscipit optio assumenda illo omnis incidunt eos placeat aliquid!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pageServiceDownItem">
                                    <div class="pageServiceDownItemTop">
                                        <div class="pageServiceName">
                                            <p>
                                                Servis Adı
                                            </p>
                                        </div>
                                        <div class="pageServicePrice">
                                            <p>
                                                €65
                                            </p>
                                            <button class="pageServiceAngle">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pageServiceDownItemBottom" style="display: none;">
                                        <div class="pageServiceDesc pt-3">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rerum incidunt
                                                voluptatibus adipisci perspiciatis autem quod accusantium reprehenderit! At
                                                saepe repudiandae dolorum corporis eligendi ut voluptas commodi cum dolor. Rerum
                                                s numquam, optio perferendis.
                                                Consequatur, recusandae voluptates magnam distinctio officiis quo quia porro
                                                dolorum, doloribus maxime doloremque facere aut, ab eligendi? Est atque,
                                                necessitatibus nemo iste nisi quae explicabo! Saepe molestiae omnis quasi modi
                                                eaque soluta, ab nesciunt, ipsam fuga laborum commodi? Iusto velit amet iure
                                                molestias necessitatibus illum consectetur dolorum nulla, quo at magnam.
                                                Obcaecati, fuga consequuntur, exercitationem odio voluptates mollitia quasi
                                                dolorum similique reiciendis neque, ullam quo? Rem inventore expedita saepe
                                                labore deserunt odit ad, est nemo libero quis. Tempora velit at debitis
                                                veritatis, soluta assumenda impedit nostrum aut, natus repudiandae eligendi
                                                aliquam id nesciunt ipsum? Assumenda adipisci accusantium soluta at sit odit
                                                exercitationem, obcaecati pariatur enim quaerat quo doloremque commodi, nam modi
                                                accusamus possimus laudantium? Temporibus quibusdam distinctio cupiditate
                                                officia consequuntur in, reiciendis recusandae molestiae porro ducimus id
                                                reprehenderit beatae nemo obcaecati, suscipit ipsum inventore ut. Sequi
                                                repudiandae temporibus labore, unde officia debitis totam excepturi magni,
                                                perspiciatis fuga natus, earum qui est. Nisi deleniti quae voluptatibus sunt
                                                assumenda eum repudiandae dolore illo impedit ut vitae asperiores ipsum nam
                                                incidunt animi vel vero aliquam debitis, soluta sit veniam saepe quisquam
                                                delectus reprehenderit! Facilis et voluptates minus maiores optio? Dicta,
                                                reiciendis nam! Fugiat facere doloribus earum vitae accusamus ullam expedita
                                                quidem quos, saepe, ipsum deserunt provident labore facilis quod aut quasi,
                                                totam in aliquam magni sit enim. Eius et non nobis, blanditiis id ipsum facilis
                                                sunt ea qui exercitationem eveniet autem at sit officia illo harum culpa
                                                quisquam. Vitae perferendis nesciunt totam porro libero odit error perspiciatis
                                                illum voluptate ex sequi qui consequatur accusantium facere explicabo
                                                consectetur molestiae ullam, fugit quibusdam reiciendis sit voluptatem? Debitis
                                                dolor aut, repellendus delectus minus nam. Adipisci ratione possimus, doloribus
                                                perferendis magni doloremque nisi corporis, non alias distinctio ea dolorum
                                                dolorem recusandae. Eaque fuga voluptatem odit sequi beatae optio sint sapiente
                                                molestiae rem ullam, facilis nisi! Dolorem modi sunt consequatur necessitatibus
                                                assumenda. Commodi incidunt atque veritatis consequatur. Nostrum, dicta
                                                quibusdam. Commodi ab veritatis rem sunt labore? Iste quo minus fugiat in?
                                                Molestiae nobis tenetur natus accusamus ea voluptas corrupti ipsa ducimus est
                                                enim, ratione maxime corporis autem minima tempore nam. Doloribus sunt atque
                                                quaerat illo. Suscipit optio assumenda illo omnis incidunt eos placeat aliquid!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form id="_Passenger_Form" asp-route="getBookValues">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Name</label>
                                    <input type="text" value="@Model.User?.Name" name="Name">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Surname</label>
                                    <input type="text" name="Surname">
                                </div>
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">E-mail</label>
                                    <input type="text" value="@Model.User?.Eposta" name="Email">
                                    <span>
                                        Your invoice will be sent to this e-mail address
                                    </span>
                                </div>
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">Phone</label>
                                    <input type="text" value="@Model.User?.PhoneNumber" name="Phone">
                                    <span>
                                        You will be receiving both text and phone calls from
                                        the driver at this number.
                                    </span>
                                </div>

                                @for (int i = 0; i < Model.SelectedData.ReservationValues.PeopleCount - 1; i++)
                                {
                                    <div class="_Form_Div">
                                        <label class="_Form_Label">@(i +2) People Name</label>
                                        <input type="text" name="OthersName">
                                    </div>
                                    <div class="_Form_Div">
                                        <label class="_Form_Label">@(i + 2) People Surname</label>
                                        <input type="text" name="OthersSurname">
                                    </div>
                                }

                                <div class="_Form_Div">
                                    <button>
                                        CREATE RESERVATİON
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>