@using System.Security.Claims;
@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Dashboard";
    var userRole = Context.User.Claims.Where(a => a.Type == ClaimTypes.Role).Select(a => a.Value).SingleOrDefault();

}
@model DashboardVM

@section pageCSSLink{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
}


<section class="my-5">
    <div class="container">
        <div class="_Dash_Flex">
            <div class="_Dash_Left">
                <div class="_Profil_Trailer_Style">
                    <div>
                        <img class="_Profil_Image" alt="" src="@(Model.User?.Img != null && Model.User?.Img != "" ? Model.User.Img : "~/img/car3.png")" />
                        @*<div class="">
                        </div>*@
                    </div>
                    <div class="_Profile_Padding">
                        <h2>
                            Welcome, @Model.User?.CompanyName
                        </h2>
                        <p>
                            Experience seamless travel with private airport transfers.
                            Say gooodbye to the hassle of navigating in a new country
                            or finding a reliable way of transportation.
                        </p>
                    </div>
                </div>
                <div class="_Profile_Attrs_Style">
                    <div class="_Profile_Attrs_Flex">
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Canceled</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Where(a=>a.Status == 4).ToList().Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="~/img/pro-attr.png" alt="">
                            </div>
                        </div>
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Pending Approval</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Where(a=>a.Status == 1).ToList().Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="~/img/pro-attr.png" alt="">
                            </div>
                        </div>
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Completed</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Where(a=>a.Status == 3).ToList().Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="img/pro-attr.png" alt="">
                            </div>
                        </div>
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Total</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="~/img/pro-attr.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_History_Style">
                    <div class="_Top_History">
                        <div class="_Left_History_Btn">
                            <button class="_Left_History_Button">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                        </div>
                        <div class="swiper _Center_History_Area">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide dateBtn" date-js="next7days">
                                    <div class="_History_Item">
                                        <p>
                                            Next 7 Days
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="today">
                                    <div class="_History_Item">
                                        <p>
                                            Today
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="tomorrow">
                                    <div class="_History_Item">
                                        <p>
                                            Tomorrow
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="days2later">
                                    <div class="_History_Item">
                                        <p>
                                            2 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="days3later">
                                    <div class="_History_Item">
                                        <p>
                                            3 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="days4later">
                                    <div class="_History_Item">
                                        <p>
                                            4 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="days5later">
                                    <div class="_History_Item">
                                        <p>
                                            5 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="days6later">
                                    <div class="_History_Item">
                                        <p>
                                            6 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide dateBtn" date-js="afteraweek">
                                    <div class="_History_Item">
                                        <p>
                                            After a week
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="_Right_History_Btn">
                            <button class="_Right_History_Button">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                    @*<input type="text" placeholder="Search Reservation No, Passenger" class="_History_Input">*@
                    <div class="_Bottom_Table mt-3">
                        <div class="_Table_Top">
                            <div>Reservation No</div>
                            <div>Passenger Name</div>
                            <div>Booking Date</div>
                            <div>Route</div>
                            <div>Price</div>
                            <div>Status</div>
                        </div>

                        <div class="tableDatas">

                            <div date-js="next7days">
                                @if (Model.AWeekReservations.Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations)
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="today" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate == DateTime.Today).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate == DateTime.Today).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="tomorrow" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today && a.ReservationDate <= DateTime.Today.AddDays(2)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today && a.ReservationDate <= DateTime.Today.AddDays(2)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="days2later" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(2) && a.ReservationDate <= DateTime.Today.AddDays(3)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(2) && a.ReservationDate <= DateTime.Today.AddDays(3)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="days3later" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(3) && a.ReservationDate <= DateTime.Today.AddDays(4)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(3) && a.ReservationDate <= DateTime.Today.AddDays(4)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="days4later" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(4) && a.ReservationDate < DateTime.Today.AddDays(5)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(4) && a.ReservationDate < DateTime.Today.AddDays(5)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="days5later" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(5) && a.ReservationDate <= DateTime.Today.AddDays(6)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(5) && a.ReservationDate <= DateTime.Today.AddDays(6)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="days6later" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(6) && a.ReservationDate <= DateTime.Today.AddDays(7)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.Reservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(6) && a.ReservationDate <= DateTime.Today.AddDays(7)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>

                            <div date-js="afteraweek" style="display:none">
                                @if (Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(7) && a.ReservationDate <= DateTime.Today.AddDays(8)).ToList().Count != 0)
                                {
                                    foreach (var item in Model.AWeekReservations.Where(a => a.ReservationDate >= DateTime.Today.AddDays(7) && a.ReservationDate <= DateTime.Today.AddDays(8)).ToList())
                                    {
                                        <div class="_Table_Content">
                                            <div>@item.ReservationCode</div>
                                            <div>@item.Name @item.Surname</div>
                                            <div>@item.ReservationDate</div>
                                            <div>@item.DropFullName</div>
                                            <div>@(item.OfferPrice + item.ExtraServiceFee)</div>
                                            <div>@item.Status</div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="_No_Data">
                                        No Data
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_Dash_Right">
                <div class="_Cars_Style">
                    <div class="_Cars_Head">
                        <div class="_Cars_Head_Left">
                            <h2>
                                Cars
                            </h2>
                        </div>
                        @if (userRole != "0")
                        {
                            <div class="_Cars_Head_Right">
                                <button type="button" class="_Btn_Style" href="/panel/add-car">
                                    + Add New
                                </button>
                            </div>
                        }

                    </div>
                    <div class="swiper _Cars_Body _Car_Slider">
                        <div class="swiper-wrapper" style="align-items: flex-end;">
                            @foreach (var item in Model.MyCars)
                            {
                                <div class="swiper-slide">
                                    <div>
                                        <p>@item.Brand.CarBrandName @item.Model.CarModelName @item.Plate</p>
                                        <div class="_Car_Block">
                                            <div class="_Car_Btns">
                                                <button type="button" class="_Pencil" href="/panel/update-my-car/@item.Id">
                                                    <i class="fa-light fa-pen-to-square"></i>
                                                </button>
                                            </div>
                                            <img src="@item.Type.CarImageURL" alt="">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="_Cars_Style">
                    <div class="_Cars_Head">
                        <div class="_Cars_Head_Left">
                            <h2>
                                Locations
                            </h2>
                        </div>
                                                @if (userRole != "0")
                        {
                            <div class="_Cars_Head_Right">
                                <button type="button" class="_Btn_Style" href="/panel/add-location/step-one">
                                    + Add New
                                </button>
                            </div>
                        }
                    </div>
                    <div class="swiper _Cars_Body _Location_Slider">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.MyLocations)
                            {
                                <div class="swiper-slide">
                                    <div>
                                        <div class="_Car_Block _Car_Pad">
                                            <div class="_Car_Btns">
                                                <button type"button" class="_Pencil" href="/panel/update-location/@item.Id">
                                                    <i class="fa-light fa-pen-to-square"></i>
                                                </button>
                                            </div>
                                            <p>
                                                @item.LocationName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section pageJsScript{
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
}


@section pageJs{
    <script>
        var swiper = new Swiper("._Center_History_Area", {
            slidesPerView: 1,
            spaceBetween: 12,
            navigation: {
                nextEl: "._Right_History_Button",
                prevEl: "._Left_History_Button",
            },
            breakpoints: {
                480: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                992: {
                    slidesPerView: 4,
                },
                1024: {
                    slidesPerView: 5,
                },
            },
        });

        var _Cars_Body_Swiper = new Swiper("._Car_Slider", {
            slidesPerView: 1,
            spaceBetween: 20,
            breakpoints: {
                576: {
                    slidesPerView: 2,
                    spaceBetween: 12,
                }
            },
        });
        var _Location_Body_Swiper = new Swiper("._Location_Slider", {
            slidesPerView: 2,
            spaceBetween: 12,
        });
    </script>
}

