@{
    Layout = "_PanelLayout";
}
@model DashboardVM

@section pageCSSLink{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
}

@section pageCSS{

}



<section class="my-5">
    <div class="container">
        <div class="_Dash_Flex">
            <div class="_Dash_Left">
                <div class="_Profil_Trailer_Style">
                    <div>
                        <div class="_Profil_Image">
                        </div>
                    </div>
                    <div class="_Profile_Padding">
                        <h2>
                            Welcome, @Model.User.CompanyName
                        </h2>
                        <p>
                            Experience seamless travel with private airport transfers.
                            Say gooodbye to the hassle of navigating in a new country
                            or finding a reliable way of transportation.
                        </p>
                    </div>
                </div>
                <div class="_Profile_Attrs_Style">
                    <div class="_Profile_Attrs_Flex">
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Canceled</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Where(a=>a.Status == 4).ToList().Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="img/pro-attr.png" alt="">
                            </div>
                        </div>
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Pending Approval</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Where(a=>a.Status == 1).ToList().Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="img/pro-attr.png" alt="">
                            </div>
                        </div>
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Completed</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Where(a=>a.Status == 3).ToList().Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="img/pro-attr.png" alt="">
                            </div>
                        </div>
                        <div class="_Profile_Attr_Item">
                            <div class="_Profile_Attr_Left">
                                <div>
                                    <h4>Total</h4>
                                </div>
                                <div>
                                    <p>@Model.Reservations.Count</p>
                                </div>
                            </div>
                            <div class="_Profile_Attr_Right">
                                <img src="img/pro-attr.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_History_Style">
                    <div class="_Top_History">
                        <div class="_Left_History_Btn">
                            <button class="_Left_History_Button">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                        </div>
                        <div class="swiper _Center_History_Area">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            Next 7 Days
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            Today
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            Tomorrow
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            2 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            3 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            4 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            5 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            6 days later
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="_History_Item">
                                        <p>
                                            After a week
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="_Right_History_Btn">
                            <button class="_Right_History_Button">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                    <input type="text" placeholder="Search Reservation No, Passenger" class="_History_Input">
                    <div class="_Bottom_Table">
                        <div class="_Table_Top">
                            <div>Reservation No</div>
                            <div>Passenger Name</div>
                            <div>Booking Date</div>
                            <div>Route</div>
                            <div>Price</div>
                            <div>Status</div>
                        </div>
                        @if (Model.AWeekReservations.Count != 0)
                        {
                            foreach (var item in Model.AWeekReservations)
                            {
                                <div class="_Table_Content">
                                    <div>@item.ReservationCode</div>
                                    <div>@item.Name @item.Surname</div>
                                    <div>@item.ReservationDate</div>
                                    <div>@item.DropFullName</div>
                                    <div>@(item.OfferPrice + item.ServiceFee)</div>
                                    <div>@item.Status</div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="_No_Data">
                                No Data
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="_Dash_Right">
                <div class="_Cars_Style">
                    <div class="_Cars_Head">
                        <div class="_Cars_Head_Left">
                            <h2>
                                Cars
                            </h2>
                        </div>
                        <div class="_Cars_Head_Right">
                            <button type="button" class="_Btn_Style" href="/panel/add-car">
                                + Add New
                            </button>
                        </div>
                    </div>
                    <div class="_Cars_Body">
                        @foreach (var item in Model.MyCars)
                        {
                            <div>
                                <p>@item.Brand.CarBrandName @item.Model.CarModelName @item.Plate</p>
                                <div class="_Car_Block">
                                    <div class="_Car_Btns">
                                        <button type="button" class="_Pencil" href="/panel/update-my-car/@item.Id">
                                            <i class="fa-light fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                    <img src="@item.Type.CarImageURL" alt="">
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="_Cars_Style">
                    <div class="_Cars_Head">
                        <div class="_Cars_Head_Left">
                            <h2>
                                Locations
                            </h2>
                        </div>
                        <div class="_Cars_Head_Right">
                            <button type="button" class="_Btn_Style" href="/panel/add-location/step-one">
                                + Add New
                            </button>
                        </div>
                    </div>
                    <div class="_Cars_Body">
                        @foreach (var item in Model.MyLocations)
                        {
                            <div>
                                <div class="_Car_Block _Car_Pad">
                                    <div class="_Car_Btns">
                                        <button type"button" class="_Pencil" href="/panel/update-location/@item.Id">
                                            <i class="fa-light fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                    <p>
                                        @item.LocationName
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section pageJsScript{
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
}


@section pageJs{
    <script>
        var swiper = new Swiper("._Center_History_Area", {
            slidesPerView: 1,
            spaceBetween: 12,
            navigation: {
                nextEl: "._Right_History_Button",
                prevEl: "._Left_History_Button",
            },
            breakpoints: {
                480: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                992: {
                    slidesPerView: 4,
                },
                1024: {
                    slidesPerView: 5,
                },
            },
        });
    </script>
}

