@using System.Security.Claims;
@model ReservationsIndexVM
@{
    Layout = "_PanelLayout";

    ViewData["title"] = "Reservation Management";

    var userRole = User.Claims.Where(a => a.Type == ClaimTypes.Role).Select(a => a.Value).SingleOrDefault();
}
@section pageCss{
    <style>

        .reservation-table-icon {
            color: orange !important;
            font-size: 1.3rem;
            filter: drop-shadow(0 0 1px);
        }

            .reservation-table-icon:hover {
                filter: drop-shadow(0 0 7px);
            }

        .get-member {
            font-size: 1.3rem;
        }

        .delete-member {
            font-size: 1.3rem;
        }

        .reservation-delete {
            color: red !important;
            font-size: 1.1rem;
            filter: drop-shadow(0 0 1px);
        }


        #reservationTable tbody tr {
            cursor: pointer;
        }

            #reservationTable tbody tr:hover {
                box-shadow: 0 3px 30px rgba(0,0,0,.1), 0 3px 20px rgba(0,0,0,.1);
            }
    </style>
}
@*
<div style=" overflow-x: auto;">
    <table id="recourseTable">
        <thead>
            <tr>
                <th style="text-align:center">Reservation Code</th>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Situation</th>
                <th style="text-align:center">Driver Situation</th>
                <th style="text-align:center">Transactions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservations)
            {
                <tr class="goDetail" data-id="@item.Id">
                    <td>@item.ReservationCode</td>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.ReservationDate.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="badge badge-success">Waiting For Transaction</span>
                        }
                        else if (item.Status == 3)
                        {
                            <span class="badge badge-info">Finished Reservation</span>
                        }
                        else if (item.Status == 4)
                        {
                            <span class="badge badge-danger">Cancel Reservation</span>
                        }
                    </td>
                    <td>
                        @if (item.DriverId != null && item.DriverId != 0)
                        {
                            <span class="badge badge-success">Driver Assigned</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">Driver Not Assigned</span>
                        }
                    </td>
                    <td>
                        <a title="Go to detail" href="/panel/reservation-detail/@item.Id" class="reservation-table-icon"><i class="iconsminds-to-left"></i></a>
                        <a title="Leave a note" class="open-note reservation-table-icon"><i class="iconsminds-file-edit"></i></a>
                        <a title="Select Driver" class="select-driver reservation-table-icon"><i class="iconsminds-doctor"></i></a>
                        <a title="Check Voucher" class="reservation-table-icon" target="_blank" href="http://airportglobaltransfer.com/pdf/@(item.ReservationCode)-@(item.Id).pdf">
                            <i class="iconsminds-file"></i>
                        </a>
                        <a title="Cancel Reservation" class="reservation-delete"><i class="fa-regular fa-xmark"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Reservations.Count <= 0)
    {
        <div style="
    width: 100%;
    height: 7rem;
    background: #ffffff6e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    text-align: center;
">
            No Data

        </div>
    }
</div>



*@

<div class="row icon-cards-row mb-4">
    <div class="col-md-3 col-lg-3 col-sm-6 col-6 mb-3">
        <a href="#" class="card">
            <div class="card-body text-center">
                <i class="fa-light fa-ban"></i>
                <p class="card-text font-weight-semibold mb-0">Canceled</p>
                <p id="canceledReservation" class="lead text-center">0</p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-6 mb-3">
        <a href="#" class="card">
            <div class="card-body text-center">
                <i class="fa-regular fa-check"></i>
                <p class="card-text font-weight-semibold mb-0">Completed</p>
                <p id="completedReservation" class="lead text-center">0</p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-6 mb-3">
        <a href="#" class="card">
            <div class="card-body text-center">
                <i class="iconsminds-clock"></i>
                <p class="card-text font-weight-semibold mb-0">Pending Approval</p>
                <p id="pendingReservation" class="lead text-center">0</p>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 col-6 mb-3">
        <a href="#" class="card">
            <div class="card-body text-center">
                <i class="fa-regular fa-list"></i>
                <p class="card-text font-weight-semibold mb-0">Total</p>
                <p id="totalReservation" class="lead text-center">0</p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @*        <div class="btn-group float-right" style="top: -.6rem">
        <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        EXPORT
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" id="dataTablesCopy" href="#">Copy</a>
        <a class="dropdown-item" id="dataTablesExcel" href="#">Excel</a>
        <a class="dropdown-item" id="dataTablesCsv" href="#">Csv</a>
        <a class="dropdown-item" id="dataTablesPdf" href="#">Pdf</a>
        </div>
        </div>*@
        <div class="mb-2 mt-5">
            @*<a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
            role="button" aria-expanded="true" aria-controls="displayOptions">
            Display Options
            <i class="simple-icon-arrow-down align-middle"></i>
            </a>*@
            <div>
                <div class="d-block d-md-inline-block">
                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                        <input class="form-control" placeholder="Search Table" id="searchDatatable">
                    </div>
                </div>


            </div>
        </div>
        <div class="separator"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4 data-table-rows data-tables-hide-filter">
        <table id="reservationTable" class="data-table responsive nowrap"
               data-order="[[ 1, &quot;desc&quot; ]]">
            <thead>
                <tr>

                    <th>Reservation Code</th>
                    @if (userRole == "0")
                    {
                        <th>Agency Name</th>
                    }
                    <th>Name</th>
                    <th>Date</th>
                    <th>Situation</th>
                    <th>Driver Situation</th>
                    <th>Transactions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reservations)
                {
                    <tr class="goDetail" data-id="@item.Id">
                        <td>@item.ReservationCode</td>
                        @if (userRole == "0")
                        {
                            <td>@item.LocationCars?.Location?.User?.CompanyName</td>
                        }
                        <td>@item.Name @item.Surname</td>
                        <td>@item.ReservationDate.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <span class="badge badge-success">Waiting For Transaction</span>
                            }
                            else if (item.Status == 3)
                            {
                                <span class="badge badge-info">Completed</span>
                            }
                            else if (item.Status == 4)
                            {
                                <span class="badge badge-danger">Cancel Reservation</span>
                            }
                        </td>
                        <td>
                            @if (item.DriverId != null && item.DriverId != 0)
                            {
                                <span class="badge badge-success">Driver Assigned</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">Driver Not Assigned</span>
                            }
                        </td>
                        <td>
                            <a title="Go to detail" href="/panel/reservation-detail/@item.Id" class="reservation-table-icon"><i class="iconsminds-to-left"></i></a>
                            @if (userRole != "5")
                            {
                                @if (!(item.Status == 3 && item.LastUpdate.AddDays(1) <= DateTime.Now) || userRole == "0")
                                {
                                    <a title="Leave a note" class="open-note reservation-table-icon"><i class="iconsminds-file-edit"></i></a>

                                    <a title="Select Driver" class="select-driver reservation-table-icon"><i class="iconsminds-doctor"></i></a>
                                    <a title="Check Voucher" class="reservation-table-icon" target="_blank" href="http://airportglobaltransfer.com/pdf/@(item.ReservationCode)-@(item.Id).pdf">
                                        <i class="iconsminds-file"></i>
                                    </a>
                                    <a title="Cancel Reservation" class="reservation-delete"><i class="fa-regular fa-xmark"></i></a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="float-left dropdown-as-select" id="pageCountDatatable" style="float: left;
    margin-top: -4.9rem;
    z-index: 99;
    position: relative;">
            <span class="text-muted text-small">Displaying 1-10 of 40 items </span>
            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">5</a>
                <a class="dropdown-item active" href="#">10</a>
                <a class="dropdown-item" href="#">20</a>
            </div>
        </div>
        <div class="top-right-button-container" style="top: -1.5rem;">
        </div>
    </div>
</div>
@if (userRole != "5")
{
    <div class="modal fade" id="SelectDriverModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Driver</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="selectDriver">
                        <div>
                            <label for="reservationDriver">Drivers</label>
                            <select class="form-control" name="DriverId" id="reservationDriver">
                                <option value="0" selected disabled>Select Driver</option>
                                @foreach (var item in Model.Drivers)
                                {
                                    <option value="@item.Id">@item.Name @item.Surname</option>
                                }
                            </select>
                        </div>
                        <div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#selectDriver').submit()" id="saveNote">Assign Driver</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reservationNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="statusForm">
                        <div>
                            <label for="reservationStatus">Status</label>
                            <select class="form-control" name="Status" id="reservationStatus">
                                <option value="null" selected disabled>Select Status</option>
                                <option value="1">Waiting For Transaction</option>
                                <option value="3">Finished Reservation</option>
                            </select>
                        </div>
                        <div>
                            <label for="reservationNote">Note</label>
                            <textarea class="form-control" name="FinishComment" id="reservationNote"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#statusForm').submit()" id="saveNote">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
@*
@section pageJs{
    <script>


    </script>
}*@

@section pageJs {
    <script>

        function CountAnimation(item, count) {
            var i = 0;

            var countInterval = setInterval(function () {

                $(item).text(i)
                if (count <= i) {
                    clearInterval(countInterval)
                }
                i++;
            }, 100)
        }

        window.onload = () => {
            CountAnimation("#canceledReservation", @Model.Reservations.Where(a=>a.Status == 4).ToList().Count);
            CountAnimation("#completedReservation", @Model.Reservations.Where(a=>a.Status == 3).ToList().Count);
            CountAnimation("#pendingReservation", @Model.Reservations.Where(a=>a.Status == 1).ToList().Count);
            CountAnimation("#totalReservation", @Model.Reservations.Count);
        }

        var $dataTableRows = $("#reservationTable").DataTable({
            bLengthChange: false,
            //buttons: [
            //    'copy',
            //    'excel',
            //    'csv',
            //    'pdf'
            //],
            destroy: true,
            info: false,
            sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
            pageLength: 10,
            columns: [
                { data: "ReservationCode" },
        @if (userRole == "0")
        {
            <text>
                    { data: "AgencyName" },
            </text>
        }
                { data: "Name" },
                { data: "Date" },
                { data: "Situation" },
                { data: "DriverSituation" },
                { data: "Transactions" }
            ],
            language: {
                paginate: {
                    previous: "<i class='simple-icon-arrow-left'></i>",
                    next: "<i class='simple-icon-arrow-right'></i>"
                }
            },
            drawCallback: function () {
                unCheckAllRows();
                $("#checkAllDataTables").prop("checked", false);
                $("#checkAllDataTables").prop("indeterminate", false).trigger("change");

                $($(".dataTables_wrapper .pagination li:first-of-type"))
                    .find("a")
                    .addClass("prev");
                $($(".dataTables_wrapper .pagination li:last-of-type"))
                    .find("a")
                    .addClass("next");
                $(".dataTables_wrapper .pagination").addClass("pagination-sm");
                var api = $(this).dataTable().api();
                $("#pageCountDatatable span").html("Displaying " + parseInt(api.page.info().start + 1) + "-" + api.page.info().end + " of " + api.page.info().recordsTotal + " items");
            }
        });

        $("#dataTablesCopy").on("click", function (event) {
            event.preventDefault();
            $dataTableRows.buttons(0).trigger();
        });

        $("#dataTablesExcel").on("click", function (event) {
            event.preventDefault();
            $dataTableRows.buttons(1).trigger();
        });

        $("#dataTablesCsv").on("click", function (event) {
            event.preventDefault();
            $dataTableRows.buttons(2).trigger();
        });

        $("#dataTablesPdf").on("click", function (event) {
            event.preventDefault();
            $dataTableRows.buttons(3).trigger();
        });

        //$('#reservationTable tbody').on('click', 'tr', function () {
        //    $(this).toggleClass('selected');
        //    var $checkBox = $(this).find(".custom-checkbox input");
        //    $checkBox.prop("checked", !$checkBox.prop("checked")).trigger("change");
        //    controlCheckAll();
        //});

        function controlCheckAll() {
            var anyChecked = false;
            var allChecked = true;
            $('#reservationTable tbody tr .custom-checkbox input').each(function () {
                if ($(this).prop("checked")) {
                    anyChecked = true;
                } else {
                    allChecked = false;
                }
            });

            if (anyChecked) {
                $("#checkAllDataTables").prop("indeterminate", anyChecked);
            } else {
                $("#checkAllDataTables").prop("indeterminate", anyChecked);
                $("#checkAllDataTables").prop("checked", anyChecked);
            }

            if (allChecked) {
                $("#checkAllDataTables").prop("indeterminate", false);
                $("#checkAllDataTables").prop("checked", allChecked);
            }
        }

        function unCheckAllRows() {
            $('#reservationTable tbody tr').removeClass('selected');
            $('#reservationTable tbody tr .custom-checkbox input').prop("checked", false).trigger("change");
        }

        function checkAllRows() {
            $('#reservationTable tbody tr').addClass('selected');
            $('#reservationTable tbody tr .custom-checkbox input').prop("checked", true).trigger("change");
        }

        $("#checkAllDataTables").on("click", function (event) {
            var isCheckedAll = $("#checkAllDataTables").prop("checked");
            if (isCheckedAll) {
                checkAllRows();
            } else {
                unCheckAllRows();
            }
        });

        function getSelectedRows() {
            //Getting Selected Ones
            console.log($dataTableRows.rows('.selected').data());
        }

        $("#searchDatatable").on("keyup", function (event) {
            $dataTableRows.search($(this).val()).draw();
        });

        $("#pageCountDatatable .dropdown-menu a").on("click", function (event) {
            var selText = $(this).text();
            $dataTableRows.page.len(parseInt(selText)).draw();
        });

        $('.reservation-delete').on("click", function () {
            var reservationId = $(this).closest("tr").attr("data-id")
            Swal.fire({
                title: 'Are you sure you want to cancel the reservation?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed == true) {
                    $('.formLoader').removeClass("deActive")
                    $.ajax({
                        url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.CancelReservation))',
                        type: "POST",
                        data: "id=" + reservationId,
                        success: function (response) {
                            if (response.result == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: 'Successfully Cancel Reservation',
                                }).then(() => {
                                    location.reload()
                                })
                            } else if (response.result == 2) {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'warning',
                                    text: 'You cannot update because the transfer is complete',
                                })
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    html: 'Something went wrong',
                                    icon: 'error',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                    location.reload()
                                })
                            }
                        }
                    });
                }
            })
        })

        $('#selectDriver').on("submit", function (e) {
            e.preventDefault();
            var driverId = $('#selectDriver #reservationDriver').val()
            $('.formLoader').removeClass("deActive")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.AssignDriver))',
                type: "POST",
                data: { reservationId: selectedReservationId, driverId: driverId },
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Assign Driver',
                        }).then(() => {
                            location.reload()
                        })

                        $('#SelectDriverModal').modal("hide")
                    } else if (response.result == 3) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'warning',
                            text: 'You cannot update because the transfer is complete',
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Something went wrong',
                        }).then(() => {
                            location.reload()
                        })
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })

        $('.select-driver').on("click", function () {
            selectedReservationId = $(this).closest("tr").attr("data-id")
            $('#SelectDriverModal #reservationDriver').val(0)
            $('.formLoader').removeClass("deActive")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.GetDriverDetail))',
                type: "POST",
                data: { id: selectedReservationId },
                success: function (response) {
                    if (response.result == 1) {
                        if (response.data.driverId != 0 && response.data.driverId != null) {
                            $('#SelectDriverModal #reservationDriver').val(response.data.driverId)
                        }

                        $('#SelectDriverModal').modal("show")
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })

        let selectedReservationId = 0;
        $('.open-note').on("click", function () {
            $('.formLoader').removeClass("deActive")
            selectedReservationId = $(this).closest("tr").attr("data-id")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.GetReservationNote))',
                type: "POST",
                data: { id: selectedReservationId },
                success: function (response) {
                    if (response.result == 1) {
                        $('#reservationNoteModal #reservationNote').val(response.data.finishComment)
                        $('#reservationNoteModal #reservationStatus').val(response.data.status)
                        $('#reservationNoteModal').modal("show")
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })

        $('#statusForm').on("submit", function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $('.formLoader').removeClass("deActive")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.UpdateReservationStatus))',
                type: "POST",
                data: formData + "&id=" + selectedReservationId,
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully updated reservation',
                        }).then(() => {
                            location.reload()
                        })
                    } else if (response.result == 2) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'warning',
                            text: 'You cannot update because the transfer is complete',
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Something went wrong',
                        }).then(() => {
                            location.reload()
                        })
                    }
                    $('.formLoader').addClass("deActive")
                    $('#reservationNoteModal').modal("hide")
                    $('#reservationNoteModal #reservationNote').val("")
                    $('#reservationNoteModal #reservationNote').val(null)

                }
            });
        })



        $('.goDetail td:not(:last-child)').on("click", function () {
            var genislik = window.innerWidth;
            if (genislik > 768) {
                var id = $(this).closest("tr").attr("data-id")
                location.href = "/panel/reservation-detail/" + id;
            }
        })




    </script>
}