@model ReservationsIndexVM
@{
    Layout = "_PanelLayout";

    ViewData["title"] = "Reservation Management";
}
@section pageCss{
    <style>

        .reservation-table-icon {
            color: orange !important;
            font-size: 1.3rem;
            filter: drop-shadow(0 0 1px);
        }

            .reservation-table-icon:hover {
                filter: drop-shadow(0 0 7px);
            }

        table {
            border-collapse: separate;
            border-spacing: 0 1rem;
            margin-top: -10px; /* correct offset on first border spacing if desired */
            width: 100%;
        }

        tbody tr {
            background: rgb(0 0 0 / 10%);
        }

            tbody tr:hover {
                background: rgb(0 0 0 / 18%) !important;
            }


        tbody td {
            border-style: solid none;
            padding: 10px;
            cursor: pointer;
            text-align: center;
        }

            tbody td:first-child {
                border-left-style: solid;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            tbody td:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }

        .get-member {
            font-size: 1.3rem;
        }

        .delete-member {
            font-size: 1.3rem;
        }

        .reservation-delete{
            color: red !important;
            font-size: 1.1rem;
            filter: drop-shadow(0 0 1px);
        }

    </style>
}


<table id="recourseTable">
    <thead>
        <tr>
            <th style="text-align:center">Reservation Code</th>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Date</th>
            <th style="text-align:center">Situation</th>
            <th style="text-align:center">Driver Situation</th>
            <th style="text-align:center">Transactions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
            <tr class="goDetail" data-id="@item.Id">
                <td>@item.ReservationCode</td>
                <td>@item.Name @item.Surname</td>
                <td>@item.ReservationDate</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="badge badge-success">Waiting For Transaction</span>
                    }
                    else if (item.Status == 3)
                    {
                        <span class="badge badge-info">Finished Reservation</span>
                    }
                    else if(item.Status == 4)
                    {
                        <span class="badge badge-danger">Cancel Reservation</span>
                    }
                </td>
                <td>
                    @if (item.DriverId != null && item.DriverId != 0)
                    {
                        <span class="badge badge-success">Driver Assigned</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Driver Not Assigned</span>
                    }
                </td>
                <td>
                    <a title="Go to detail" href="/panel/reservation-detail/@item.Id" class="reservation-table-icon"><i class="iconsminds-to-left"></i></a>
                    <a title="Leave a note" class="open-note reservation-table-icon"><i class="iconsminds-file-edit"></i></a>
                    <a title="Select Driver" class="select-driver reservation-table-icon"><i class="iconsminds-doctor"></i></a>
                    <a title="Cancel Reservation" class="reservation-delete"><i class="fa-regular fa-xmark"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="SelectDriverModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="selectDriver">
                    <div>
                        <label for="reservationDriver">Drivers</label>
                        <select class="form-control" name="DriverId" id="reservationDriver">
                            <option value="0" selected disabled>Select Driver</option>
                            @foreach (var item in Model.Drivers)
                            {
                                <option value="@item.Id">@item.Name @item.Surname</option>
                            }
                        </select>
                    </div>
                    <div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="$('#selectDriver').submit()" id="saveNote">Assign Driver</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="reservationNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="statusForm">
                    <div>
                        <label for="reservationStatus">Status</label>
                        <select class="form-control" name="Status" id="reservationStatus">
                            <option value="null" selected disabled>Select Status</option>
                            <option value="1">Waiting For Transaction</option>
                            <option value="3">Finished Reservation</option>
                        </select>
                    </div>
                    <div>
                        <label for="reservationNote">Note</label>
                        <textarea class="form-control" name="FinishComment" id="reservationNote"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="$('#statusForm').submit()" id="saveNote">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section pageJs{
    <script>

        $('.reservation-delete').on("click",function(){
            var reservationId = $(this).closest("tr").attr("data-id")
            Swal.fire({
                title: 'Are you sure you want to cancel the reservation?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed == true) {
                    $('.formLoader').removeClass("deActive")
                    $.ajax({
                        url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.CancelReservation))',
                        type: "POST",
                        data: "id=" + reservationId,
                        success: function (response) {
                            if (response.result == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: 'Successfully Cancel Reservation',
                                }).then(() => {
                                    location.reload()
                                })
                            }
                            else {
                                Swal.fire({
                                    title: 'Error!',
                                    html: 'Something went wrong',
                                    icon: 'error',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                    location.reload()
                                })
                            }
                        }
                    });
                }
            })
        })

        $('#selectDriver').on("submit", function (e) {
            e.preventDefault();
            var driverId = $('#selectDriver #reservationDriver').val()
            $('.formLoader').removeClass("deActive")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.AssignDriver))',
                type: "POST",
                data: { reservationId: selectedReservationId, driverId: driverId },
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Assign Driver',
                        }).then(() => {
                            location.reload()
                        })

                        $('#SelectDriverModal').modal("hide")
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Something went wrong',
                        }).then(() => {
                            location.reload()
                        })
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })

        $('.select-driver').on("click", function () {
            selectedReservationId = $(this).closest("tr").attr("data-id")
            $('#SelectDriverModal #reservationDriver').val(0)
            $('.formLoader').removeClass("deActive")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.GetDriverDetail))',
                type: "POST",
                data: { id: selectedReservationId },
                success: function (response) {
                    if (response.result == 1) {
                        if (response.data.driverId != 0 && response.data.driverId != null) {
                            $('#SelectDriverModal #reservationDriver').val(response.data.driverId)
                        }

                        $('#SelectDriverModal').modal()
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })


        let selectedReservationId = 0;
        $('.open-note').on("click", function () {
            $('.formLoader').removeClass("deActive")
            selectedReservationId = $(this).closest("tr").attr("data-id")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.GetReservationNote))',
                type: "POST",
                data: { id: selectedReservationId },
                success: function (response) {
                    if (response.result == 1) {
                        $('#reservationNoteModal #reservationNote').val(response.data.finishComment)
                        $('#reservationNoteModal #reservationStatus').val(response.data.status)
                        $('#reservationNoteModal').modal()
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })


        $('#statusForm').on("submit", function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $('.formLoader').removeClass("deActive")
            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ReservationManageController.UpdateReservationStatus))',
                type: "POST",
                data: formData + "&id=" + selectedReservationId,
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully updated reservation',
                        }).then(() => {
                            location.reload()
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Something went wrong',
                        }).then(() => {
                            location.reload()
                        })
                    }
                    $('.formLoader').addClass("deActive")
                    $('#reservationNoteModal').modal("hide")
                    $('#reservationNoteModal #reservationNote').val("")
                    $('#reservationNoteModal #reservationNote').val(null)

                }
            });
        })

        $('.goDetail td:not(:last-child) ').on("click", function () {
            $('.formLoader').removeClass("deActive")
            var id = $(this).closest("tr").attr("data-id")
            location.href = "/panel/reservation-detail/" + id;
        })
    </script>
}