@{
    Layout = "_PanelLayout";
}

@model UpdateLocationVM

<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-4">Out of Zone</h4>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="outZoneDropCharge">Drop Charge</label>
                        <input type="number" class="form-control" id="outZoneDropCharge" value="@Model.Location.OutZoneDropCharge" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="outZonePerKmPrice">Price Per KM</label>
                        <input type="number" class="form-control" id="outZonePerKmPrice" value="@Model.Location.OutZonePricePerKM" />
                    </div>
                    <form id="getValueForm" asp-route="updateLocationValues">
                        <input type="hidden" name="jsonValues" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    @foreach (var item in Model.locationCars)
    {
        <div class="col-md-6 mb-3 carCard" data-id="@item.CarId">
            <div class="card">
                <div class="card-body">
                    <div>
                        @item.Car.Brand.CarBrandName
                        @item.Car.Model.CarModelName
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Drop Price</label>
                            <input type="number" class="form-control" id="carDropPrice" value="@item.DropPrice" />
                        </div>
                    </div>
                    <div class="carFareContainer">
                    @foreach (var item2 in item.LocationCarsFares)
                    {
                        
                            <div class="row carFareCard">
                                <div class="col-md-4 mb-3">
                                    <label>Starting From</label>
                                    <input type="text" class="form-control startingFrom" id="startingFrom" placeholder="0km" value="@item2.StartFrom" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Up To</label>
                                    <input type="text" class="form-control upTo" id="upTo" value="@item2.UpTo" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Fare</label>
                                    <input type="text" class="form-control fare" id="fare" value="@item2.Fare" />
                                </div>
                            </div>
                        
                        
                    }
                        </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-secondary next-btn w-100 addCarFare" style="border-radius:0px;" type="submit">Add New Distance</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary next-btn w-100" style="border-radius:0px;" type="button" id="updateLocationBtn">Update Location</button>
    </div>
</div>



@section pageJs{
    <script>

        

        let container = document.querySelector('.carFareContainer');

        function initCards(){

            let startFrom = 0;

            container.querySelectorAll('.carFareCard').forEach(el => {

                let startFromInput = el.querySelector('.startingFrom');

                startFromInput.value = startFrom;
                startFromInput.disabled = true;

                if (el.querySelector('.upTo').value.trim() != ''){
                    startFrom = el.querySelector('.upTo').value;
                }

                


            })

            container.querySelectorAll('.upTo').forEach(el => {
                el.oninput = () => {
                    initCards();
                }
            })

        }

        initCards();

        document.querySelector('.addCarFare').onclick = () => {

            

            container.innerHTML+=`
                    <div class="row carFareCard">
                                        <div class="col-md-4 mb-3">
                                            <label>Starting From</label>
                                                    <input type="text" class="form-control startingFrom" id="startingFrom" placeholder="0km" disabled />
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Up To</label>
                                            <input type="text" class="form-control upTo" id="upTo" />
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label>Fare</label>
                                                    <input type="text" class="form-control fare" id="fare" />
                                        </div>
                                    </div>
            `

            initCards();

        }




        $('#updateLocationBtn').on("click", function () {
            var outZonePrice = $('#outZoneDropCharge').val()
            var outZonePerKmPrice = $('#outZonePerKmPrice').val()

            let locationJson = {
                locationId:@Model.Location.Id,
                outZonePrice: outZonePrice,
                outZonePerKmPrice: outZonePerKmPrice,
                carsPrice: []
            }

            $.each($('.carCard'), function (key, value) {
                locationJson.carsPrice.push({
                    carId: $(value).attr("data-id"),
                    carDropPrice: $(value).find('#carDropPrice').val(),
                    carsPricePerKm: []
                });
            })

            $.each(locationJson.carsPrice, function (key, value) {
                $.each($('.carCard[data-id="' + value.carId + '"] .carFareCard'), function (key2, value2) {
                    var startingfromVal = $(value2).find("#startingFrom").val()
                    var upToKmVal = $(value2).find("#upTo").val()
                    var priceVal = $(value2).find("#fare").val()
                    value.carsPricePerKm.push({
                        startKm: startingfromVal,
                        upToKm: upToKmVal,
                        price: priceVal
                    })
                })
            })

            $('#getValueForm input[name="jsonValues"]').val(JSON.stringify(locationJson))
            $('#getValueForm').submit()

        })

    </script>
}