@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Update Locations";

}

@model UpdateLocationVM
<div class="row">
    <div class="col-md-12 mb-3">
        <a class="btn btn-danger float-right" id="deleteLocation" href="#">Delete Location</a>
    </div>
</div>


<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">

                <form class="row mb-3" onsubmit="document.getElementById('submit').disabled=true; processFormData();">
                    <div class="col-md-12">
                        <h4 class="mb-2">Location Detail</h4>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="locationName">Location Name</label>
                        <input type="text" class="form-control" id="locationName" value="@Model.Location.LocationName" />
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="zoneRadius">Zone Radius</label>
                        <input type="number" class="form-control" id="zoneRadius" value="@Model.Location.LocationRadius" />
                    </div>
                    <div class="col-md-12">
                        <h4 class="mb-2">Out of Zone</h4>
                    </div>

                    <div class="col-md-6">
                        <label for="outZoneDropCharge">Drop Charge</label>
                        <input type="number" class="form-control" id="outZoneDropCharge" value="@Model.Location.DropCharge" />
                    </div>

                    <div class="col-md-6">
                        <label for="outZonePerKmPrice">Price Per KM</label>
                        <input type="number" class="form-control" id="outZonePerKmPrice" value="@Model.Location.OutZonePricePerKM" />
                    </div>
                </form>
                <form id="getValueForm" asp-route="updateLocationValues">
                    <input type="hidden" name="jsonValues" />
                </form>
            </div>
        </div>
    </div>
</div>




<div class="row">
    @foreach (var item in Model.locationCars)
    {
        int i = 0;

        <div class="col-md-12 mb-3 carCard" data-id="@item.CarId">
            <div class="card">
                <div class="card-body">
                    <div>
                        @item.Car.Brand.CarBrandName
                        @item.Car.Model.CarModelName
                    </div>

                    <div id="carArea">


                        @foreach (var item2 in item.LocationCarsFares)
                        {
                            i++;
                            <div class="row carFareCard">
                                <div class="col-md-3 mb-3">
                                    <label>Price Type</label>
                                    <select id="priceType" class="form-control" @(i == item.LocationCarsFares.Count ? "" : "disabled")>


                                        @if (item2.PriceType == 1)
                                        {
                                            <option value="1" selected>
                                                Fixed
                                            </option>
                                            <option value="2">
                                                Per KM
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="1">
                                                Fixed
                                            </option>
                                            <option value="2" selected>
                                                Per KM
                                            </option>
                                        }

                                    </select>
                                </div>

                                @if (i == item.LocationCarsFares.Count && i != 1)
                                {
                                    <div class="col-md-3 mb-3">
                                        <label>Starting From</label>
                                        <input type="text" disabled class="form-control startingFrom" id="startingFrom" placeholder="0km" value="@item2.StartFrom" />
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Up To</label>
                                        <input type="text" class="form-control upTo" id="upTo" value="@item2.UpTo" />
                                    </div>

                                    <div class="col-md-@(i  == item.LocationCarsFares.Count ? "2":"3") mb-3">
                                        <label>Fare</label>
                                        <input type="text" class="form-control fare" id="fare" value="@item2.Fare" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 mb-3">
                                        <label>Starting From</label>
                                        <input type="text" class="form-control startingFrom" disabled id="startingFrom" placeholder="0km" value="@item2.StartFrom" />
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Up To</label>
                                        <input type="text" class="form-control upTo" disabled id="upTo" value="@item2.UpTo" />
                                    </div>

                                    <div class="col-md-@(i  == item.LocationCarsFares.Count ? "2":"3") mb-3">
                                        <label>Fare</label>
                                        <input type="text" class="form-control fare" id="fare" value="@item2.Fare" />
                                    </div>
                                }

                                @if (i == item.LocationCarsFares.Count && i != 1)
                                {
                                    <div class="col-md-1 mb-3">
                                        <label style="opacity: 0; visibility: visible;">Up To</label>
                                        <button type="button" count="@item.CarId" class="btn btn-warning deletedDistance " style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-1 mb-3 d-none">
                                        <label style="opacity: 0; visibility: visible;">Up To</label>
                                        <button type="button" count="@item.CarId" class="btn btn-warning deletedDistance " style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                    </div>
                                }
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button id="addDistance" class="btn btn-secondary next-btn w-100 addCarFare" style="border-radius:0px;" type="submit">Add New Distance</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary next-btn w-100" style="border-radius:0px;" type="button" id="updateLocationBtn">Update Location</button>
    </div>
</div>



@section pageJs{
    <script>

        $('#deleteLocation').on("click",function(){

            Swal.fire({
                title: 'Do You Want To Delete The Location?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed == true) {
                    $('.formLoader').removeClass("deActive")
                    $.ajax({
                        url: '@Url.Action(nameof(Airport.UI.Controllers.LocationController.DeleteLocation))',
                        type: "POST",
                        data: "id=" + @Model.Location.Id,
                        success: function (response) {
                            if (response.result == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: 'Successfully Delete Location',
                                }).then(() => {
                                    location.href = "/panel/location";
                                })
                            }
                            else
                            {
                                  Swal.fire({
                                    title: 'Error!',
                                    html: 'Something went wrong',
                                    icon: 'error',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                        location.href = "/panel/location";
                                })
                            }
                        }
                    });
                }
            })         
        })



        processFormData = function () {
            console.log('Submitting form…');
            // For this example, don't actually submit the form
            event.preventDefault();
        };

        $('#updateLocationBtn').on("click", function () {
            var dropCharge = $('#outZoneDropCharge').val()
            var outZonePerKmPrice = $('#outZonePerKmPrice').val()
            var locationName = $('#locationName').val()
            var zoneRadius = $('#zoneRadius').val()

            let locationJson = {
                locationId: @Model.Location.Id,
                dropCharge: dropCharge,
                outZonePerKmPrice: outZonePerKmPrice,
                locationName: locationName,
                locationZone: zoneRadius,
                carsPrice: []
            }

            $.each($('.carCard'), function (key, value) {
                locationJson.carsPrice.push({
                    carId: $(value).attr("data-id"),
                    carsPricePerKm: []
                });
            })

            $.each(locationJson.carsPrice, function (key, value) {
                $.each($('.carCard[data-id="' + value.carId + '"] .carFareCard'), function (key2, value2) {
                    var startingfromVal = $(value2).find("#startingFrom").val()
                    var upToKmVal = $(value2).find("#upTo").val()
                    var priceVal = $(value2).find("#fare").val()
                    var priceType = $(value2).find("#priceType").val()
                    value.carsPricePerKm.push({
                        startKm: startingfromVal,
                        upToKm: upToKmVal,
                        price: priceVal.replace(",","."),
                        priceType: priceType
                    })
                })
            })

            $('#getValueForm input[name="jsonValues"]').val(JSON.stringify(locationJson))
            $('#getValueForm').submit()

        })




        $("body").on("click", "#addDistance", function () {
            let data_id = $(this).closest(".carCard").attr("data-id");
            if ($(this).closest(".carCard").find(".carFareCard:last-child input#upTo").val() == "" || Number($(this).closest(".carCard").find(".carFareCard:last-child input#upTo").val()) < Number($(this).closest(".carCard").find(".carFareCard:last-child input#upTo").attr("min"))) {
                $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").addClass("err_block");
            }
            else {
                $(this).closest(".carCard").find(".carFareCard select").each(function (key, data) {
                    if (key == $(this).closest(".carCard").find(".carFareCard").length - 1) {
                        if ($(data).val() == "1" || $(data).val() == "2") {
                            $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").removeClass("err_block");
                            $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").prop("disabled", true);
                            $(this).closest(".carCard").find(".carFareCard:last-child select").prop("disabled", true);
                            $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").removeClass("err_block");
                            $(this).closest(".carCard").find(".carFareCard:last-child .deletedDistance").closest("div").addClass("d-none");
                            $(this).closest(".carCard").find(".carFareCard:last-child #fare").closest("div").attr("class", "col-md-3 mb-3")



                            $(this).closest(".carCard").find("#carArea").append(`
                                                                                                                            <div class="row carFareCard">
                                                                                                                                    <div class="col-md-3 mb-3">
                                                                                                                                        <label>Price Type</label>
                                                                                                                                        <select id="priceType" class="form-control">
                                                                                                                                            <option value="1">
                                                                                                                                                Fixed
                                                                                                                                            </option>
                                                                                                                                                    <option value="2" selected>
                                                                                                                                                Per KM
                                                                                                                                            </option>
                                                                                                                                        </select>
                                                                                                                                    </div>
                                                                                                                                    <div class="col-md-3 mb-3">
                                                                                                                                        <label>Starting From</label>
                                                                                                                                                                                        <input type="number" class="form-control" id="startingFrom" disabled placeholder="0km" value="${$("body .carFareCard:last-child input#upTo").val()}" />
                                                                                                                                    </div>
                                                                                                                                    <div class="col-md-3 mb-3">
                                                                                                                                        <label>Up To</label>
                                                                                                                                                                        <input type="number" class="form-control" id="upTo" value="" min="${Number($("body .carFareCard:last-child input#upTo").val()) + 1} " />
                                                                                                                                    </div>
                                                                                                                                    <div class="col-md-2 mb-3">
                                                                                                                                        <label>Fare</label>
                                                                                                                                                <input type="number" class="form-control" id="fare" value="" />
                                                                                                                                    </div>
                                                                                                                                                    <div class="col-md-1 mb-3">
                                                                                                                                                            <label style="opacity: 0; visibility: visible;">Up To</label>
                                                                                                                                                                            <button type="button" count="${data_id}" class="btn btn-warning deletedDistance " style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                                                                                                                            </div>
                                                                                                                                </div>
                                                                                                                    `);



                        }



                    }

                })
            }

        })


        $("body").on("click", ".deletedDistance", function () {
            let count_id = $(this).attr("count")
            $(this).closest(".carFareCard").remove();
            if ($(`.carCard[data-id="${count_id}"] .carFareCard`).length != 1) {
                $(`.carCard[data-id="${count_id}"] .carFareCard:last-child .deletedDistance`).closest("div").removeClass("d-none");
                $(`.carCard[data-id="${count_id}"] .carFareCard:last-child #fare`).closest("div").attr("class", "col-md-2 mb-3")
            }
            $(`.carCard[data-id="${count_id}"] .carFareCard:last-child input#upTo`).prop("disabled", false);
            $(`.carCard[data-id="${count_id}"] .carFareCard:last-child select`).prop("disabled", false);
        })




    </script>
}