@{
    Layout = "_PanelLayout";
}

@model UpdateLocationVM

<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-4">Out of Zone</h4>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="outZoneDropCharge">Drop Charge</label>
                        <input type="number" class="form-control" id="outZoneDropCharge" value="@Model.Location.DropCharge" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="outZonePerKmPrice">Price Per KM</label>
                        <input type="number" class="form-control" id="outZonePerKmPrice" value="@Model.Location.OutZonePricePerKM" />
                    </div>
                    <form id="getValueForm" asp-route="updateLocationValues">
                        <input type="hidden" name="jsonValues" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    @foreach (var item in Model.locationCars)
    {
        <div class="col-md-12 mb-3 carCard" data-id="@item.CarId">
            <div class="card">
                <div class="card-body">
                    <div>
                        @item.Car.Brand.CarBrandName
                        @item.Car.Model.CarModelName
                    </div>

                    <div id="carArea">
                        @foreach (var item2 in item.LocationCarsFares)
                        {

                            <div class="row carFareCard">
                                <div class="col-md-3 mb-3">
                                    <label>Price Type</label>
                                    <select id="priceType" class="form-control">
                                        @if (item2.PriceType == 1)
                                        {
                                            <option value="1" selected>
                                                Fixed
                                            </option>
                                            <option value="2">
                                                Per KM
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="1">
                                                Fixed
                                            </option>
                                            <option value="2" selected>
                                                Per KM
                                            </option>
                                        }

                                    </select>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label>Starting From</label>
                                    <input type="text" class="form-control startingFrom" id="startingFrom" placeholder="0km" value="@item2.StartFrom" />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Up To</label>
                                    <input type="text" class="form-control upTo" id="upTo" value="@item2.UpTo" />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Fare</label>
                                    <input type="text" class="form-control fare" id="fare" value="@item2.Fare" />
                                </div>
                                <div class="col-md-1 mb-3 d-none">
                                    <label style="opacity: 0; visibility: visible;">Up To</label>
                                    <button type="button" count="@item.CarId" class="btn btn-warning deletedDistance " style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                </div>



                            </div>



                        }
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button id="addDistance" class="btn btn-secondary next-btn w-100 addCarFare" style="border-radius:0px;" type="submit">Add New Distance</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary next-btn w-100" style="border-radius:0px;" type="button" id="updateLocationBtn">Update Location</button>
    </div>
</div>



@section pageJs{
    <script>



        //let container = document.querySelector('.carFareContainer');

        //function initCards(){

        //    //let startFrom = 0;

        //    //container.querySelectorAll('.carFareCard').forEach(el => {

        //    //    let startFromInput = el.querySelector('.startingFrom');

        //    //    startFromInput.value = startFrom;
        //    //    startFromInput.disabled = true;

        //    //    if (el.querySelector('.upTo').value.trim() != ''){
        //    //        startFrom = el.querySelector('.upTo').value;
        //    //    }




        //    //})

        //    //container.querySelectorAll('.upTo').forEach(el => {
        //    //    el.oninput = () => {
        //    //        initCards();
        //    //    }
        //    //})

        //}

        //initCards();

        //document.querySelector('.addCarFare').onclick = () => {



        //    container.innerHTML += `
        //                                                    <div class="row carFareCard">
        //                                                                        <div class="col-md-4 mb-3">
        //                                                                            <label>Starting From</label>
        //                                                                                    <input type="text" class="form-control startingFrom" id="startingFrom" placeholder="0km" disabled />
        //                                                                        </div>
        //                                                                        <div class="col-md-4 mb-3">
        //                                                                            <label>Up To</label>
        //                                                                            <input type="text" class="form-control upTo" id="upTo" />
        //                                                                        </div>
        //                                                                        <div class="col-md-4 mb-3">
        //                                                                            <label>Fare</label>
        //                                                                                    <input type="text" class="form-control fare" id="fare" />
        //                                                                        </div>
        //                                                                    </div>
        //                                            `

        //    //initCards();

        //}




        $('#updateLocationBtn').on("click", function () {
            var dropCharge = $('#outZoneDropCharge').val()
            var outZonePerKmPrice = $('#outZonePerKmPrice').val()

            let locationJson = {
                locationId: @Model.Location.Id,
                dropCharge: outZonePrice,
                outZonePerKmPrice: outZonePerKmPrice,
                carsPrice: []
            }

            $.each($('.carCard'), function (key, value) {
                locationJson.carsPrice.push({
                    carId: $(value).attr("data-id"),
                    carDropPrice: $(value).find('#carDropPrice').val(),
                    carsPricePerKm: []
                });
            })

            $.each(locationJson.carsPrice, function (key, value) {
                $.each($('.carCard[data-id="' + value.carId + '"] .carFareCard'), function (key2, value2) {
                    var startingfromVal = $(value2).find("#startingFrom").val()
                    var upToKmVal = $(value2).find("#upTo").val()
                    var priceVal = $(value2).find("#fare").val()
                    var priceType = $(value2).find("#priceType").val()
                    value.carsPricePerKm.push({
                        startKm: startingfromVal,
                        upToKm: upToKmVal,
                        price: priceVal,
                                priceType: priceType
                    })
                })
            })

            $('#getValueForm input[name="jsonValues"]').val(JSON.stringify(locationJson))
            $('#getValueForm').submit()

        })




        $("body").on("click", "#addDistance", function () {
            let data_id = $(this).closest(".carCard").attr("data-id");
            if ($(this).closest(".carCard").find(".carFareCard:last-child input#upTo").val() == "" || Number($(this).closest(".carCard").find(".carFareCard:last-child input#upTo").val()) < Number($(this).closest(".carCard").find(".carFareCard:last-child input#upTo").attr("min"))) {
                $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").addClass("err_block");
            }
            else {
                $(this).closest(".carCard").find(".carFareCard select").each(function (key, data) {
                    if (key == $(this).closest(".carCard").find(".carFareCard").length - 1) {
                        if ($(data).val() == "1" || $(data).val() == "2") {
                            $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").removeClass("err_block");
                            $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").prop("disabled", true);
                            $(this).closest(".carCard").find(".carFareCard:last-child select").prop("disabled", true);
                            $(this).closest(".carCard").find(".carFareCard:last-child input#upTo").removeClass("err_block");
                            $(this).closest(".carCard").find(".carFareCard:last-child .deletedDistance").closest("div").addClass("d-none");
                            $(this).closest(".carCard").find(".carFareCard:last-child #fare").closest("div").attr("class", "col-md-3 mb-3")



                            $(this).closest(".carCard").find("#carArea").append(`
                                                                                                    <div class="row carFareCard">
                                                                                                            <div class="col-md-3 mb-3">
                                                                                                                <label>Price Type</label>
                                                                                                                <select id="priceType" class="form-control">
                                                                                                                    <option value="1">
                                                                                                                        Fixed
                                                                                                                    </option>
                                                                                                                            <option value="2" selected>
                                                                                                                        Per KM
                                                                                                                    </option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                            <div class="col-md-3 mb-3">
                                                                                                                <label>Starting From</label>
                                                                                                                                                                <input type="number" class="form-control" id="startingFrom" disabled placeholder="0km" value="${$("body .carFareCard:last-child input#upTo").val()}" />
                                                                                                            </div>
                                                                                                            <div class="col-md-3 mb-3">
                                                                                                                <label>Up To</label>
                                                                                                                                                <input type="number" class="form-control" id="upTo" value="" min="${Number($("body .carFareCard:last-child input#upTo").val()) + 1} " />
                                                                                                            </div>
                                                                                                            <div class="col-md-2 mb-3">
                                                                                                                <label>Fare</label>
                                                                                                                        <input type="number" class="form-control" id="fare" value="" />
                                                                                                            </div>
                                                                                                                            <div class="col-md-1 mb-3">
                                                                                                                                    <label style="opacity: 0; visibility: visible;">Up To</label>
                                                                                                                                                    <button type="button" count="${data_id}" class="btn btn-warning deletedDistance " style="border-radius: 0;"><i class="simple-icon-trash"></i></button>
                                                                                                                    </div>
                                                                                                        </div>
                                                                                            `);



                        }



                    }

                })
            }

        })


        $("body").on("click", ".deletedDistance", function () {
            let count_id = $(this).attr("count")
            $(this).closest(".carFareCard").remove();
            if ($(`.carCard[data-id="${count_id}"] .carFareCard`).length != 1) {
                $(`.carCard[data-id="${count_id}"] .carFareCard:last-child .deletedDistance`).closest("div").removeClass("d-none");
                $(`.carCard[data-id="${count_id}"] .carFareCard:last-child #fare`).closest("div").attr("class", "col-md-2 mb-3")
            }
            $(`.carCard[data-id="${count_id}"] .carFareCard:last-child input#upTo`).prop("disabled", false);
            $(`.carCard[data-id="${count_id}"] .carFareCard:last-child select`).prop("disabled", false);
        })




    </script>
}